{% extends "admin/change_form.html" %}
{% load i18n %}
{% load transpile %}
{% load fiduswriter %}
{% block extrahead %}{{ block.super }}
<link type="text/css" rel="stylesheet" href="{% static "css/document_template_constructor.css" %}" />
{% fiduswriter_config_js %}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<!--  Translations -->
<script type="text/javascript" src="/jsi18n/"></script>
<!-- JS error handling -->
<script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>
<script type="text/javascript" src="{% static "js/document_template_constructor.mjs" %}"></script>
{{ media }}
{% endblock %}
