.fw-ar-container {
    display: inline-block;
    width: 338px;
    height: 360px;
    background-color: #fff;
    border: solid 1px #ccc;
    vertical-align: middle;
    padding: 20px 14px 0 14px;
    overflow-y: auto;
}

.fw-ar-button {
    display: inline-block;
    margin: 0 16px;
    vertical-align: middle;
    cursor: pointer;
}
