.fw-link-text {
    cursor: pointer;
    color: var(--color-1);
}

.fw-link-text:hover {
    color: var(--color-1-hover);
}

.fw-button {
    background: var(--color-2);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: var(--main-background-color);
    cursor: pointer;
    vertical-align: middle;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
    font-size: 13px;
}
