.ui-content_menu {
    position: absolute;
    background-color:white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.11);
    font-size: 14px;
    z-index: 101;
    padding: 0;
    border: 0 none;
    border-image: initial;
    overflow: hidden;
    border-radius: 6px;
    outline: 0;
}

.ui-content_menu-content.ui-scrollable {
    overflow-y: scroll;
}

.ui-content_menu-content {
    position: relative;
    margin-top: 8px;
    overflow: hidden;
}

.ui-widget-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

.content-menu-list {
    list-style: none;
    padding: 0 0 5px 0;
    cursor: pointer;
}
.content-menu-item {
    padding: 18px 31px 15px 31px;
    color: #2c2723;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
}
.content-menu-item.disabled {
    pointer-events: none;
    opacity:0.6;
}
.content-menu-item:hover {
    background-color: #eeeeee;
}
.content-menu-item-divider {
    border: 0 none;
    border-top: 1px solid #eeeeee !important;
}
.content-menu-item-icon {
    position: absolute;
    right: 40px;
    color:#bebebe;
}