.ui-widget-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 170, 170, 0.3);
    z-index: 100;
}

.ui-dialog {
    position: absolute;
    padding: 19px;
    background-color: #f9f9f9;
    border: solid 1px #e0e0e0;
    box-shadow: 0 0 10px #9e9e9e;
    overflow: hidden;
    border-radius: 4px;
    font-size: 14px;
    z-index: 100;
    outline: 0;
}

.ui-dialog-titlebar {
    position: relative;
    padding: 0;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}

.ui-dialog-title {
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
}

.ui-dialog-buttonpane {
    padding-top: 20px;
}

.ui-button {
    font-size: 14px;
    line-height: 1em;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
    /*position: absolute;
    right: 0;
    top: 3px;*/
}

.ui-button-icon-only {
    width: 2em;
    box-sizing: border-box;
    text-indent: -9999px;
    white-space: nowrap;
}

.ui-button-icon-only .ui-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

.ui-button-icon-only .ui-icon::before {
    text-indent: 5019px;
}

.ui-dialog-titlebar-close:hover {
    color: #a9abaa;
}

.ui-icon-closethick:before {
    width: 0.7em;
    height: 1em;
    padding-top: 5px;
    content: "\f00d";
}

.ui-dialog-content {
    position: relative;
    margin-top: 24px;
    overflow: auto
}

.ui-dialog-buttonset {
    position: relative;
    text-align: right;
}

.ui-dialog-buttonset .fw-button {
    margin-left: 6px;
}
/*
.ui-dialog-buttonset .fw-add-button {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
}
*/
