.git
.github
ci
debian-build
rpm-build
screenshots
docs
.pybuild
.python-build-cache
build
dist
*.egg-info
__pycache__
*.pyc
node_modules
fiduswriter/.transpile
fiduswriter/static-transpile
fiduswriter/static-collected
fiduswriter/static-libs
fiduswriter/node_modules
debian/fiduswriter-server
debian/.debhelper
debian/tmp
.coverage*
