fiduswriter.sql
*.pyc
*~
*-venv
.DS_Store
.pydevproject
build
.project
local_settings.py
.settings
/media/
.elasticbeanstalk/
*.mo
node_modules/
/style/static/css/
/style/static/js/style/
venv/
.idea/
configuration.py
fidus.db
deploy
base/static/zip/katex-style.zip
base/static/js/es6_modules/katex/opf-includes.js
chromedriver
testing.py
es6-tmp/
es6-cache/
static-es5/
static-libs/
*.es5.js
base/static/css/libs/
.coverage
/npm-debug.log
