fiduswriter.sql
*.pyc
*~
*-venv
.DS_Store
.pydevproject
build
.project
local_settings.py
.settings
media
.elasticbeanstalk/
bibliography/static/js/bibliography-statics.js
*.mo
node_modules/
style/static/
venv/
.idea/
configuration.py
fidus.db
deploy
chromedriver
testing.py