fiduswriter.sql
*.pyc
*~
*-venv
.DS_Store
.pydevproject
build
.project
local_settings.py
.settings
/media/
.elasticbeanstalk/
*.mo
node_modules/
style/static/
venv/
.idea/
fidus.db
deploy
base/static/zip/katex-style.zip
base/static/zip/katex_style.zip
base/static/js/modules/katex/opf-includes.js
base/static/js/modules/katex/opf_includes.js
chromedriver
testing.py
es6-tmp/
.transpile-cache/
static-transpile/
static-libs/
*.es5.js
base/static/css/libs/
.coverage
/npm-debug.log
/package.json
*.swp
*.swo
/.transpile-time
/package-lock.json
/book
/citation-api-import
/languagetool
/npm_mjs
/ojs
/phplist
fiduswriter_plugins
