wheel==0.32.3
Django==2.2.0
Pillow==5.3.0
django-allauth==0.38.0
django-avatar==4.1.0
django-compressor==2.2
django-js-error-hook==0.6
django-npm-mjs==1.0.4
tornado==5.1.1
python-dateutil==2.7.5
python-magic==0.4.15
setuptools==40.6.2
jsonpatch==1.23
bleach==3.0.2
