Django==1.7
Pillow==2.6.0
argparse==1.2.1
backports.ssl-match-hostname==3.4.0.2
certifi==14.05.14
dateutils==0.6.6
distribute==0.7.3
django-allauth==0.18.0
django-appconf==0.6
django-avatar==2.0
django-compressor==1.4
django-forms-bootstrap==3.0.1
django-jsonfield==0.9.13
httplib2==0.9
oauth2==1.5.211
oauthlib==0.6.3
python-dateutil==2.2
python-openid==2.2.5
pytz==2014.7
requests==2.4.1
requests-oauthlib==0.4.1
six==1.8.0
stripe==1.19.0
tornado==4.0.2
wsgiref==0.1.2
