wheel==0.30.0
Django==1.11.10
django-adminplus==0.5
Pillow==5.0.0
django-allauth==0.35.0
django-avatar==4.1.0
django-compressor==2.2
django-js-error-hook==0.6
django-npm-mjs==0.5.0
tornado==4.5.3
python-dateutil==2.6.1
python-magic==0.4.15
setuptools==38.5.1
future==0.16.0
jsonpatch==1.21
