{% load i18n %}
{% load compress %}
{% load transpile %}
<!DOCTYPE html>
<html class="fw-basic-text">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title> Fidus Writer - {% block title %}{% endblock %}. </title>
        <meta name="description" content="{% trans "The all in one solution for collaborative academic writing." %}">
        <meta name="author" content="Fidus Writer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png"/>
        <!-- commons styles -->
        {% compress css %}
        <link type="text/css" rel="stylesheet" href="{% static "css/reset.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/fonts.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/text.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/forms.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/ui_dialogs.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/ui_autofill.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/buttons.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/pulldown.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/loader.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/alerts.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/document_menu.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/document_table.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/dialog_table.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/dropkick.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/ui_tabs.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/figure.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/dialog.css" %}" />
        <!-- Font Awesome -->
        <link type="text/css" rel="stylesheet" href="{% static "css/font-awesome.css" %}" />
        <!-- layout styles -->
        <link type="text/css" rel="stylesheet" href="{% static "css/common.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/header_menu.css" %}" />
        {% endcompress %}
        <!-- Check browser -->
        <script type="text/javascript" src="{% static "js/browser_check.mjs" %}"></script>
        <script type="text/javascript" src="/jsi18n/"></script>
        <!-- JS error handling -->
        <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>
        {% block extraheaders %}{% endblock %}
    </head>
    <body{% block isRegistration %}{% endblock %}>
        <div id="wait">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <header class="fw-header">

            <div class="fw-container">
                <h1 class="fw-logo">
                    <img src="{% static "img/logo.png" %}" alt="Fiduswriter" title="Logo" width="231" height="39" />
                </h1>
                <div id="user-preferences" class="fw-user-preferences fw-header-text">
                    <h3 class="fw-name">{{request.user.username}}</h3>
                    <div id="preferences-btn" class="fw-button fw-small fw-green">
                        <span class="fa fa-cog fw-button-icon"></span>
                        <span class="fa fa-caret-down fw-button-icon"></span>
                    </div>
                </div><!-- end user preference -->
            </div><!-- end container -->

            <nav id="header-nav"></nav>
         </header>

        <div class="fw-contents">
            {% block contents %}{% endblock %}
        </div>

        <div id="user-preferences-pulldown" class="fw-pulldown fw-right">
            <ul>
                <li>
                    <a class="fw-pulldown-item" href="{% url 'show_userprofile' username=request.user.username %}">
                        {% trans "Edit profile" %}
                    </a>
                </li>
                <li>
                    <a class="fw-pulldown-item" href="{% url 'list_team_members' %}">
                        {% trans "Contacts" %}
                    </a>
                </li>
                <li>
                    <form class="fw-pulldown-item" action="{% url 'account_logout' %}" method="post">
                        {% csrf_token %}
                        <button class="fw-logout-button" type="submit">{% trans "Log out" %}</button>
                    </form>
                </li>
            </ul>
        </div>

        {% include "feedback/feedback.html" %}

    </body>
</html>
