.fw-dialog-table td {
    padding-bottom: 7px;
}

.fw-tablerow-title {
    display: table-cell;
    padding-top: 10px;
    font-size: 11px;
    line-height: 15px;
}

.fw-tablerow-title.wtooltip {
    border-bottom: 1px dotted black;
    position: relative;
}


.fw-tablerow-title .tooltip {
    position: absolute;
    min-width: 260px;
    top: 30px;
    left: 10px;
    padding: 10px;
    background-color: #879ded;
    color: white;
    border-radius: 3px;
    line-height: 26px;
    padding: 0 6px;
    font-size: 14px;
    border: 1px solid #6578bb;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.fw-tablerow-title:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip em {
    font-style: italic;
}
