.fw-document-menu {
    position: relative;
    height: 40px;
    margin-bottom: 40px;
}

.fw-document-menu-item {
    position: relative;
    float: left;
    margin-right: 5px;
}

#action-selection {
    cursor: default;
}

#select-action-dropdown {
    cursor: pointer;
    margin: 0 -3px 0 -5px;
}
