/**
 * Default DropKick theme
 *
 * Feel free to edit the default theme
 * or even add your own.
 *
 * See the readme for themeing help
 *
 */

/***** Begin Theme, feel free to edit in here! ******/

/* One container to bind them... */
.dk_container {
    background: -moz-linear-gradient(top, #fdfdfe, #eaeaea);
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfe), to(#eaeaea));
    line-height: 34px;
    height: 36px;
}
.dk_container:focus {
    outline: 0;
}
.dk_container a {
    cursor: pointer;
    text-decoration: none;
}
/* Opens the dropdown and holds the menu label */
.dk_toggle {
    overflow: hidden;
    white-space: nowrap;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    padding: 0 4px;
    height: 34px;
}
.dk_toggle:after {
    display: block;
    position: absolute;
    right: 10px;
    top: 5px;
    font-family: 'fontello';
    speak: none;
    width: 1em;
    text-align: center;
    line-height: 34px;
    content: '\f0dc';
    font-size: 10px;
}

/* Applied whenever the dropdown is open */
.dk_open {
    z-index: 10;
}

/* The outer container of the options */
.dk_options a {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0 4px;
    height: 24px;
    line-height: 24px;
}
.dk_options a:hover, .dk_option_current a {
    background-color: #c9c9c9;
    text-decoration: none;
}
/* Inner container for options, this is what makes the scrollbar possible. */
.dk_options_inner {
    border: 1px solid #ccc;
    border-top-width: 0;
    border-bottom-width: 0;
    list-style: none;
    padding: 0;
}
/* Set a max-height on the options inner */
.dk_options_inner, .dk_touch .dk_options {
    max-height: 300px;
}
/******  End Theme ******/

/***** Critical to the continued enjoyment of working dropdowns ******/

.dk_container {
    display: none;
    float: left;
    position: relative;
}
.dk_container a {
    outline: 0;
}
.dk_toggle {
    display: -moz-inline-stack;
    display: inline-block;
    *
    display: inline;
    position: relative;
    zoom: 1;
}
.dk_toggle > .dk_label {
    display: block;
    height: 100%;
    width: auto;
    overflow: hidden;
    margin-right: 30px;
}
.dk_open {
    position: relative;
}
.dk_open .dk_options {
    display: block;
}
.dk_open .dk_label {
    color: inherit;
}
.dk_options {
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
}
.dk_options a, .dk_options a:link, .dk_options a:visited {
    display: block;
}
.dk_options_inner {
    overflow: auto;
    position: relative;
}
.dk_touch .dk_options {
    overflow: hidden;
}
.dk_touch .dk_options_inner {
    max-height: none;
    overflow: visible;
}
.dk_fouc select {
    position: relative;
    top: -99999em;
    visibility: hidden;
}
/***** End Critical to the continued enjoyment of working dropdowns ******/
