.fw-position-info {
  width: 90px;
  color: #000;
  background-color: #f2f2f2;
  text-shadow: none;
  border-color: #c9c9c9;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: none;
  box-sizing: content-box;
  white-space: nowrap;
  margin-right: 7px;
}
