input,
textarea,
button {
    font-family: 'Lato', sans-serif;
    margin: 0;
    outline-width: 0;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'] {
    padding: 0 3px;
    height: 36px;
}

textarea {
    padding: 2px;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
textarea {
    font-size: 14px;
    line-height: 1.33em;
    border: solid 1px #d3d3d3;
    box-shadow: none;
    border-radius: 0;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='email']:focus,
textarea:focus {
    background-color: #fbf9d2;
}

/*
 * Bibliography entry input
 */
/*#bib-dialog input.entryForm,
#bib-dialog input.fw-input,*/
#uploadimage input.entryForm,
#uploadimage input.fw-input,
#book-dialog input.entryForm,
#book-dialog input.fw-input {
    width: 486px;
}

/*
 * Name input fields
 */
.fw-name-input {
    width: 226px
}

.fw-name-input.fw-first {
    margin-right: 23px;
}

/*
 * checkable label / td
 */
.fw-checkable {
    cursor: pointer;
    background-color: #fff;
}

.fw-checkable.checked {
    background-color: #fbf9d2;
}

.fw-checkable.checked:after, tr.fw-checkable.checked > td:last-child:after {
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    right: 12px;
    font-family: 'fontello';
    content: '\2713';
    speak: none;
}

tr.fw-checkable.checked:after {
    display: none;
    content: '';
}

.fw-checkable-td, .fw-checkable > td {
    position: relative
}

.fw-checkable-td.checked:after, tr.fw-checkable.checked > td:last-child:after {
    top: 17px
}

.fw-checkable-label {
    position: relative;
    display: block;
    width: 462px;
    height: 36px;
    line-height: 36px;
    border: solid 1px #d3d3d3;
    padding-left: 12px;
    margin-bottom: 10px;
}

.fw-checkable-label.checked:after {
    top: 7px
}

.fw-checkable-input {
    display: none;
}

/*
 * addable input fields button
 */
.fw-add-input {
    cursor: pointer;
    margin-left: 14px;
}

.fw-add-input:before {
    content: '\2796';
    width: 0.7em;
}

.fw-list-input {
    margin-top: 7px;
}

.fw-list-input:first-child {
    margin-top: 0;
}

.fw-list-input:last-child .fw-add-input:before {
    content: '\2795';
}

/*
 * form error
 */
.fw-fomt-error {
    color: #f00;
}

/*
 * ajax file uploader
 */
.ajax-upload input[type='file'] {
    display: none;
}

.ajax-upload-label {
    margin-left: 10px;
}

/*
 * checkbox in a fw-button
 */
.fw-button input[type='checkbox'] {
    margin-right: 3px;
}

/*
 * radio buttons
 */

.fw-radio:first-of-type {
    border-top: solid 1px #cecece;
}

.fw-radio {
    height: 43px;
    /*padding-top: 6px;
    padding-bottom: 6px;*/
    border-bottom: solid 1px #cecece;
}

.fw-radio:hover {
    background-color: #fbf9d2;
}

.fw-radio input[type='radio'] {
    opacity: 0;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 43px;
}

.fw-radio label {
    display: inline-block;
    position: relative;
    top: 16px;
}

.fw-radio input[type='radio'] + label:before {
    content: "";
    padding-left: 10px;
    display: inline-block;
    width: 40px;
}

.fw-radio input[type='radio']:checked + label:before {
    content: "\2713";
    font-family: 'fontello';
}
