<!DOCTYPE html>
<html>
    <head>
        <title>Error 500</title>
        <meta name="theme-color" content="#84b4a7">
        <style>
            body {
                background-color: #f9f9f9;
            }
            h1 {
                margin-top: 63px;
                font-family: 'Lato Black', sans-serif;
                color: #af3515;
                font-size: 30px;
            }
            p {
                font-family: 'Lato', sans-serif;
                color: #af3515;
                font-size: 15px;
            }
        </style>
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    </head>
    <body>
        <center>
            <h1>ERROR 500</h1>
            <p>We are sorry, but a server error occured. Our team will be looking into the issue shortly.</p>
        </center>
    </body>
</html>
