@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 400;
  src: local('Noticia Text'), local('NoticiaText-Regular'), url(../../fonts/document/NoticiaText-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  src: local('Noticia Text Bold'), local('NoticiaText-Bold'), url(../../fonts/document/NoticiaText-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 400;
  src: local('Noticia Text Italic'), local('NoticiaText-Italic'), url(../../fonts/document/NoticiaText-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Noticia Text';
  font-style: italic;
  font-weight: 700;
  src: local('Noticia Text Bold Italic'), local('NoticiaText-BoldItalic'), url(../../fonts/document/NoticiaText-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../../fonts/document/SourceSansPro-Bold.woff) format('woff');
}

.elephant .user-contents {
    font-family: 'Noticia Text', serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.6em;
    /*text-align: justify;*/
    word-wrap: break-word;
}

.elephant #document-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.elephant #metadata-subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.elephant #metadata-abstract {
    margin-left: 50px;
    margin-right: 50px;
}

.elephant #document-metadata .metadata {
    margin-bottom: 20px;
}

.elephant .pagination-footnote:before,
.elephant .pagination-footnote > * > *:first-child:before {
    font-family: 'Noticia Text', serif;
    font-weight: 400;
    font-size: 9px;
    text-align: left;
    vertical-align: super;
    line-height: 0;
}

.elephant .pagination-footnote > * > *:first-child:before {
    margin-right: 5px;
}

.elephant .pagination-footnote > * > * {
    font-family: 'Noticia Text', serif;
    font-weight: 400;
    font-size: 10px;
}

.elephant ~ #pagination-layout .pagination-pagenumber {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.elephant ~ #pagination-layout .pagination-footnotes {
    margin-top: 25px;
}

.elephant .user-contents h1,
.elephant .user-contents h2,
.elephant .user-contents h3,
.elephant .user-contents p,
.elephant .user-contents blockquote,
.elephant .user-contents code,
.elephant .user-contents ol,
.elephant .user-contents ul {
    margin-bottom: 35px;
}

.elephant .user-contents h1,
.elephant .user-contents h2,
.elephant .user-contents h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    line-height: 1.25em;
}

.elephant .user-contents h1  {
    font-size: 24px;
}

.elephant .user-contents h2 {
    font-size: 20px;
}

.elephant .user-contents h3 {
    font-size: 16px;
}

.elephant .user-contents p,
.elephant .user-contents ol li,
.elephant .user-contents ul li {
    font-size: 16px;
    line-height: 1.75em;
}

.elephant .user-contents b {
    font-weight: 700;
}

.elephant .user-contents i {
    font-style: italic;
}

.elephant .user-contents ul,
.elephant .user-contents ol {
    padding-left: 15px;
}
.elephant .user-contents ul {
    list-style: square;
}

.elephant .user-contents ol {
    list-style: decimal;
}

.elephant .user-contents blockquote {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 13px;
    line-height: 1.8em;
}

.elephant .user-contents code {
    display: block;
    font-family: "Courier New", Courier, mono-space;
    font-size: 13px;
    line-height: 1.75em;
}

.elephant #document-bibliography p {
    font-size: 14px;
    margin-bottom: 18px;
}

.elephant .equation {
    font-size: 80%;
}
