@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: local('Crimson Text'), local('CrimsonText-Roman'), url(../../fonts/document/CrimsonText-Roman.woff) format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  src: local('Crimson Text Bold'), local('CrimsonText-Bold'), url(../../fonts/document/CrimsonText-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 400;
  src: local('Crimson Text Italic'), local('CrimsonText-Italic'), url(../../fonts/document/CrimsonText-Italic.woff) format('woff');
}
@font-face {
  font-family: 'Crimson Text';
  font-style: italic;
  font-weight: 700;
  src: local('Crimson Text Bold Italic'), local('CrimsonText-BoldItalic'), url(../../fonts/document/CrimsonText-BoldItalic.woff) format('woff');
}
@font-face {
  font-family: 'Lobster 1.4';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster 1.4'), local('Lobster-1.4'), url(../../fonts/document/Lobster-1.4.woff) format('woff');
}

.fox .user-contents {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 1.2em;
    line-height: 1.6em;
    /*text-align: justify;*/
    word-wrap: break-word;
}

.fox #document-title {
    font-family: 'Lobster 1.4', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.fox #metadata-subtitle {
    font-family: 'Lobster 1.4', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.fox #metadata-abstract {
    margin-left: 50px;
    margin-right: 50px;
}

.fox #document-metadata .metadata {
    margin-bottom: 20px;
}

.fox .pagination-footnote:before,
.fox .pagination-footnote > * > *:first-child:before {
    font-family: 'Crimson Text', serif;
    font-weight: 700;
    font-size: 9px;
    text-align: left;
    font-style: normal;
    vertical-align: super;
    line-height: 0;
}

.fox .pagination-footnote > * > *:first-child:before {
    margin-right: 5px;
}

.fox .pagination-footnote > * > * {
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.35em;
}

.fox ~ #pagination-layout .pagination-pagenumber {
    font-family: 'Lobster 1.4', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center !important;
}

.fox ~ #pagination-layout .pagination-footnotes {
    margin-top: 25px;
}

.fox .user-contents h1,
.fox .user-contents h2,
.fox .user-contents h3,
.fox .user-contents p,
.fox .user-contents blockquote,
.fox .user-contents code,
.fox .user-contents ol,
.fox .user-contents ul {
    margin-bottom: 35px;
}

.fox .user-contents h1,
.fox .user-contents h2,
.fox .user-contents h3 {
    font-family: 'Lobster 1.4', sans-serif;
    font-weight: 400;
    line-height: 1.35em;
    text-align: center;
}

.fox .user-contents h1  {
    font-size: 21px;
}

.fox .user-contents h2 {
    font-size: 19px;
}

.fox .user-contents h3 {
    font-size: 17px;
}

.fox .user-contents p,
.fox .user-contents ol li,
.fox .user-contents ul li {
    font-size: 20px;
    line-height: 1.4em;
}

.fox .user-contents b {
    font-weight: 700;
}

.fox .user-contents i {
    font-style: italic;
}

.fox .user-contents ul,
.fox .user-contents ol {
    padding-left: 15px;
}
.fox .user-contents ul {
    list-style: disc;
}

.fox .user-contents ol {
    list-style: decimal;
}

.fox .user-contents blockquote {
    font-style: italic;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 1.4em;
}

.fox .user-contents code {
    display: block;
    font-family: "Courier New", Courier, mono-space;
    font-size: 13px;
    line-height: 1.75em;
}

.fox #document-bibliography p {
    font-size: 14px;
    margin-bottom: 18px;
}

.fox .equation {
    font-size: 260%;
}