#caret-markers {
    position: absolute;
    top: 0px;
    left: 0px;
}

div.caret {
    position: absolute;
}
.cursor-user-0 {
    border: 1px solid rgba(255,0,0,1);
    background: rgba(255,0,0,0.2);
}

.cursor-user-right-0 {
    border-right: 2px solid rgba(255,0,0,1);
}

.cursor-user-1 {
    border: 1px solid rgba(0,255,255,1);
    background: rgba(0,255,255,0.2);
}

.cursor-user-right-1 {
    border-right: 2px solid rgba(0,255,255,1);
}

.cursor-user-2 {
    border: 1px solid rgba(0,0,255,1);
    background: rgba(0,0,255,0.2);
}

.cursor-user-right-2 {
    border-right: 2px solid rgba(0,0,255,1);
}

.cursor-user-3 {
    border: 1px rgba(0,0,160,1);
    background: rgba(0,0,160,0.2);
}

.cursor-user-right-3 {
    border-right: 2px solid rgba(0,0,160,1);
}

.cursor-user-4 {
    border: 1px solid rgba(173,216,230,1);
    background: rgba(173,216,230,0.2);
}

.cursor-user-right-4 {
    border-right: 2px solid rgba(173,216,230,1);
}

.cursor-user-5 {
    border: 1px solid rgba(128,0,128,1);
    background: rgba(128,0,128,0.2);
}

.cursor-user-right-5 {
    border-right: 2px solid rgba(128,0,128,1);
}

.cursor-user-6 {
    border: 1px solid rgba(255,255,0,1);
    background: rgba(255,255,0,0.2);
}

.cursor-user-right-6 {
    border-right: 2px solid rgba(255,255,0,1);
}

.cursor-user-7 {
    border: 1px solid rgba(0,255,0,1);
    background: rgba(0,255,0,0.2);
}

.cursor-user-right-7 {
    border-right: 2px solid rgba(0,255,0,1);
}

.cursor-user-8 {
    border: 1px solid rgba(255,0,255,1);
    background: rgba(255,0,255,0.2);
}

.cursor-user-right-8 {
    border-right: 2px solid rgba(255,0,255,1);
}

.cursor-user-9 {
    border: 1px solid rgba(128,128,128,1);
    background: rgba(128,128,128,0.2);
}

.cursor-user-right-9 {
    border-right: 2px solid rgba(128,128,128,1);
}

.cursor-user-10 {
    border: 1px solid rgba(255,165,0,1);
    background: rgba(255,165,0,0.2);
}

.cursor-user-right-10 {
    border-right: 2px solid rgba(255,165,0,1);
}

.cursor-user-11 {
    border: 1px solid rgba(165,42,42,1);
    background: rgba(165,42,42,0.2);
}

.cursor-user-right-11 {
    border-right: 2px solid rgba(165,42,42,1);
}

.cursor-user-12 {
    border: 1px solid rgba(0,128,0,1);
    background: rgba(0,128,0,0.2);
}

.cursor-user-right-12 {
    border-right: 2px solid rgba(0,128,0,1);
}

.cursor-user-13 {
    border: 1px solid rgba(255,203,164,1);
    background: rgba(255,203,164,0.2);
}

.cursor-user-right-13 {
    border-right: 2px solid rgba(255,203,164,1);
}

.cursor-user-14 {
    border: 1px solid rgba(247,93,89,1);
    background: rgba(247,93,89,0.2);
}

.cursor-user-right-14 {
    border-right: 2px solid rgba(247,93,89,1);
}

.cursor-user-15 {
    border: 1px solid rgba(125,5,82,1);
    background: rgba(125,5,82,0.2);
}

.cursor-user-right-15 {
    border-right: 2px solid rgba(125,5,82,1);
}

.cursor-user-16 {
    border: 1px solid rgba(252,223,255,1);
    background: rgba(252,223,255,0.2);
}

.cursor-user-right-16 {
    border-right: 2px solid rgba(252,223,255,1);
}

.cursor-user-17 {
    border: 1px solid rgba(70,199,199,1);
    background: rgba(70,199,199,0.2);
}

.cursor-user-right-17 {
    border-right: 2px solid rgba(70,199,199,1);
}

.cursor-user-18 {
    border: 1px solid rgba(106,251,146,1);
    background: rgba(106,251,146,0.2);
}

.cursor-user-right-18 {
    border-right: 2px solid rgba(106,251,146,1);
}

.cursor-user-19 {
    border: 1px solid rgba(115,106,255,1);
    background: rgba(115,106,255,0.2);
}

.cursor-user-right-19 {
    border-right: 2px solid rgba(115,106,255,1);
}

.cursor-user-20 {
    border: 1px solid rgba(245,40,135,1);
    background: rgba(245,40,135,0.2);
}

.cursor-user-right-20 {
    border-right: 2px solid rgba(245,40,135,1);
}


/* More colors should be added here! */
