/*For profile list*/

.avatar {
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

#chat {
    position: fixed;
    bottom: 0px;
    right: 5px;
    background-color: white;
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom: 0;
    display: none;
    z-index: 100;
}

#chat.highlighted {
    background-color: #6495ed;
}

#chat .resize-button {
    text-align: right;
    cursor: pointer;
    display: block;
}

#chat-container {
    max-height: 300px;
    overflow-y: auto;
}

#chat-container .message:last-child {
    border-bottom: 1px solid #ccc;
    margin-bottom: 6px;
    padding-bottom: 6px;
}

#chat-container .message {
    padding-top: 5px;
}

#connected-collaborators {
    position: fixed;
    right: 60px;
    top: 20px;
}

#connected-collaborators img {
    width: 26px;
    margin-left: 4px;
}

#messageform.empty:before {
    color: #cecece;
}

#chat {
    transition: top 2s ease;
}
