/* Comments */
#margin-box-container {
    width: 240px;
    padding-left: 20px;
}

#margin-box-container.hide {
    display: none;
}

.pagination-simple + #margin-box-container {
    top: 0px;
}

.margin-box {
    background-color: #fbfbfb;
    border: 1px solid #ccc;
    width: 200px;
    padding: 9px;
    margin-top: 10px;
    position: relative;
}
.margin-box.active {
    background-color: #fffacf;
    left: -18px;
    z-index: 5;
}
.margin-box.active:after {
    position: absolute;
    left: -11px;
    top: 30px;
    line-height: 1em;
    font-size: 36px;
    color: #fffacf;
    text-shadow: -1px 0 1px #ccc;
}
.margin-box.hidden {
    display: none;
}
.comment-item {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px #ccc;
}
.comment-item:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.comment-item.wait, .comment-answer.wait {
    opacity: .5;
}
.comment-item.wait textarea, .comment-answer.wait .comment-answer-text {
    background-image: url('../img/wait.gif');
    background-repeat: no-repeat;
    background-position: center;
}
.comment-item.wait textarea {
    background-size: 40px 40px;
}

.comment .collaborator {
    font-weight: 700;
}

.comment-answer.wait .comment-answer-text {
    background-size: 20px 20px;
}
.wait .comment-btns {
    display: none;
}

.comment-user {
    margin-bottom: 9px;
}
.comment-user:after {
    display: block;
    clear: both;
    content: '';
}
.comment-user-avatar {
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 8px;
    border: solid 1px #ccc;
}
.comment-user-name {
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 4px;
}
.comment-date {
    font-size: 10px;
}
.comment-p {
    line-height: 18px;
}
.margin-box .ProseMirror-wrapper {
    width: 194px;
    background-color: #fff;
    min-height: 40px;
    border: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 6px;
    cursor: text;
}

.comment-controls {
    margin-top: 9px;
    font-size: 10px;
    color: #af3515;
}
.comment-controls > span {
    margin-right: 5px;
    cursor: pointer;
}
.comment-controls > span:hover {
    color: #999;
}

.comment-answer {
    margin-top: 9px;
}
.comment-btns {
    margin-top: 5px;
    text-align: right;
}
.margin-box .btn {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 7px;
    margin: 0;
}

.comment-form {
    display: none;
}

.delete-comment-all {
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
}

.comment-is-major {
    margin: 5px 5px 9px 3px;
}

.comment-is-major-bgc {
    background-color: #f2dede;
}

#comment-editor .ProseMirror-suggestion, #answer-editor .ProseMirror-suggestion {
    font-weight: 700;
}

#comment-editor .tagger, #answer-editor .tagger  {
    margin: 5px -10px -11px -10px;
    background-color: #f2f2f2;
    border: 1px solid #c9c9c9;
}

#comment-editor .tagger:empty, #answer-editor .tagger:empty {
    display: none;
}

#comment-editor .tagger .tag, #answer-editor .tagger .tag {
    padding: 10px;
    cursor: pointer;
}

#comment-editor .tagger .tag:hover, #comment-editor .tagger .tag.selected,
#answer-editor .tagger .tag:hover, #answer-editor .tagger .tag.selected {
    background-color: #c9c9c9;
}
