/* Comments */

#margin-box-column {
    width: 240px;
    padding-left: 20px;
    margin-top: -50px;
}

#margin-box-filter {
    height: 44px;
    z-index: 5;
    position: relative;
    width: 220px;
    margin-bottom: 6px;
    margin-left: -3px;
    display: flex;
    border: 2px solid #f2f2f2;
    position: sticky;
    top: 179px;
}

body.header-closed #margin-box-filter {
    top: 70px;
}

.margin-box-filter-button {
    flex: 1;
    background-color: #84b4a7;
    color: #fff;
    border-right: 1px solid #f2f2f2;
    border-left: 1px solid #f2f2f2;
    position: relative;
    cursor: pointer;
}

.margin-box-filter-button.disabled {
    background-color: #e0e0e0;
    color: #545454;
}

.margin-box-filter-button .marginbox-options.fw-pulldown.fw-right {
    top: 27px;
}

.margin-box-filter-button .label {
    top: 17px;
    left: 16px;
    position: absolute;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.06px;
}

.margin-box-filter-button:nth-child(1):nth-last-child(3) .label,
.margin-box-filter-button:nth-child(2):nth-last-child(2) .label,
.margin-box-filter-button:nth-child(3):nth-last-child(1) .label {
    font-size: 10px;
    top: 30px;
    left: 4px;
}

.margin-box {
    background-color: #f8f8f8;
    color: #2c2723;
    width: 218px;
    margin-top: 2px;
    position: relative;
}

.margin-box .comment-item:first-child {
    background-color: #fff;
}

.margin-box.track {
    background-color: #98a9c5;
    color: #fff;
}

.margin-box.active {
    color: #000;
    background-color: #fffacf;
    border: 1px solid #c5c5c5;
    left: -18px;
    z-index: 5;
}

.margin-box.help.active {
    background-color: #fafafa;
    left:-15px
}

.margin-box.help.active:after {
    color: #79b8a5;
    left: -15px
}

.margin-box.active .comment-item:first-child {
    background-color: #fffacf;
    padding-bottom: 10px;
}

.margin-box.active:after {
    position: absolute;
    left: -11px;
    top: 30px;
    line-height: 1em;
    font-size: 36px;
    color: #fffacf;
    text-shadow: -1px 0px 0px #c5c5c5;
}

.margin-box.hidden {
    display: none;
}

.comment-item {
    padding: 10px;
    border-top: solid 1px #ccc;
}

.comment-item.comment-answer {
    position: relative;
}

.comment-item:first-child {
    margin-top: 0;
    border-top: none;
}

.comment-item.wait,
.comment-answer.wait {
    opacity: .5;
}

.comment-item.wait textarea,
.comment-answer.wait .comment-answer-text {
    background-image: url('../img/wait.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.comment-item.wait textarea {
    background-size: 40px 40px;
}

.comment .collaborator {
    font-weight: 700;
}

.comment-answer.wait .comment-answer-text {
    background-size: 20px 20px;
}

.wait .comment-btns {
    display: none;
}

.comment-user {
    margin-bottom: 9px;
}

.comment-user:after {
    display: block;
    clear: both;
    content: '';
}

.comment-user-avatar {
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 8px;
    border: solid 1px #ccc;
}

.comment-user-name {
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}

.comment-date {
    font-size: 10px;
}

.assigned-user {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 10px 0 10px 0;
    font-size: 0.9em;
    text-align: center;
}

.assigned-user em {
    font-weight: 700;
}

.comment-p {
    line-height: 18px;
}

.margin-box .ProseMirror-wrapper {
    width: 194px;
    background-color: #fff;
    min-height: 40px;
    border: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 6px;
    cursor: text;
}

.comment-btns {
    margin-top: 5px;
    text-align: right;
}

.margin-box .btn {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 7px;
    margin: 0;
}

.comment-form {
    display: none;
}

.show-marginbox-options {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    opacity: 0.4;
    height: 24px;
    width: 17px;
    line-height: 40px;
}

.marginbox-options.fw-pulldown.fw-right {
    right: -16px;
    top: 22px;
}

.comment-is-major {
    margin: 5px 5px 9px 3px;
}

.comment-is-major-bgc .comment-item:first-child {
    background-color: #f4c9d9;
}

.comment.resolved .comment-item {
    opacity: 0.7;
}

#comment-editor .ProseMirror-suggestion,
#answer-editor .ProseMirror-suggestion {
    font-weight: 700;
}

#comment-editor .tagger,
#answer-editor .tagger {
    margin: 5px -10px -11px -10px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
}

#comment-editor .tagger:empty,
#answer-editor .tagger:empty {
    display: none;
}

#comment-editor .tagger .tag,
#answer-editor .tagger .tag {
    padding: 10px;
    cursor: pointer;
}

#comment-editor .tagger .tag:hover,
#comment-editor .tagger .tag.selected,
#answer-editor .tagger .tag:hover,
#answer-editor .tagger .tag.selected {
    background-color: #e0e0e0;
}

#comment-editor .tagger .tag-user,
#answer-editor .tagger .tag-user {
    min-height: 28px;
}


.help-text-wrapper{
    padding: 10px 10px 10px 10px;
}

.help-text-wrapper p {
    margin-bottom: 8px;
    text-align: justify;
}

.help-text-wrapper strong {
    font-weight: 700;
}

.help-text-wrapper em {
    font-style: italic;
}

.help-text-wrapper blockquote {
    border-left: 2px solid #ccc;
    margin-left: 5px;
    padding-left: 5px;
}
