/* Comments */
#margin-box-container {
    width: 240px;
    padding-left: 20px;
}

#margin-box-container.hide {
    display: none;
}

.pagination-simple + #margin-box-container {
    top: 0px;
}

.margin-box {
    background-color: #f9f9f9;
    color: #2c2723;
    width: 200px;
    padding: 9px;
    margin-top: 10px;
    position: relative;
}
.margin-box.track {
    background-color: #9eafcc;
    color: #fff;
}
.margin-box.active {
    color: #000;
    background-color: #fffacf;
    border: 1px solid #2c2723;
    left: -18px;
    z-index: 5;
}
.margin-box.active:after {
    position: absolute;
    left: -11px;
    top: 30px;
    line-height: 1em;
    font-size: 36px;
    color: #fffacf;
    text-shadow: -1px 0px 0px #2c2723;
}
.margin-box.hidden {
    display: none;
}

.comment-item {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px #ccc;
}
.comment-item:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}
.comment-item.wait, .comment-answer.wait {
    opacity: .5;
}
.comment-item.wait textarea, .comment-answer.wait .comment-answer-text {
    background-image: url('../img/wait.gif');
    background-repeat: no-repeat;
    background-position: center;
}
.comment-item.wait textarea {
    background-size: 40px 40px;
}

.comment .collaborator {
    font-weight: 700;
}

.comment-answer.wait .comment-answer-text {
    background-size: 20px 20px;
}
.wait .comment-btns {
    display: none;
}

.comment-user {
    margin-bottom: 9px;
}
.comment-user:after {
    display: block;
    clear: both;
    content: '';
}
.comment-user-avatar {
    width: 26px;
    height: 26px;
    float: left;
    margin-right: 8px;
    border: solid 1px #ccc;
}
.comment-user-name {
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
}
.comment-date {
    font-size: 10px;
}
.assigned-user {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 5px;
    margin: 10px 0 10px 0;
    font-size: 0.9em;
    text-align: center;
}
.assigned-user em {
    font-weight: 700;
}
.comment-p {
    line-height: 18px;
}
.margin-box .ProseMirror-wrapper {
    width: 194px;
    background-color: #fff;
    min-height: 40px;
    border: 1px solid #ccc;
    padding: 2px;
    margin-bottom: 6px;
    cursor: text;
}

.comment-controls {
    margin-top: 9px;
    font-size: 10px;
    color: #af3515;
}
.comment-controls > span {
    margin-right: 5px;
    cursor: pointer;
}
.comment-controls > span:hover {
    color: #999;
}

.comment-answer {
    margin-top: 9px;
}
.comment-btns {
    margin-top: 5px;
    text-align: right;
}
.margin-box .btn {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0 7px;
    margin: 0;
}

.comment-form {
    display: none;
}

.show-marginbox-options {
    position: absolute;
    right: 14px;
    top: 11px;
    cursor: pointer;
    opacity: 0.4;
}

.marginbox-options.fw-pulldown.fw-right {
    right: -16px;
    top: 22px;
}

.comment-is-major {
    margin: 5px 5px 9px 3px;
}

.comment-is-major-bgc {
    background-color: #fbd0e0;
}

.comment.resolved .comment-item {
    opacity: 0.7;
}

#comment-editor .ProseMirror-suggestion, #answer-editor .ProseMirror-suggestion {
    font-weight: 700;
}

#comment-editor .tagger, #answer-editor .tagger  {
    margin: 5px -10px -11px -10px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
}

#comment-editor .tagger:empty, #answer-editor .tagger:empty {
    display: none;
}

#comment-editor .tagger .tag, #answer-editor .tagger .tag {
    padding: 10px;
    cursor: pointer;
}

#comment-editor .tagger .tag:hover, #comment-editor .tagger .tag.selected,
#answer-editor .tagger .tag:hover, #answer-editor .tagger .tag.selected {
    background-color: #e0e0e0;
}

#comment-editor .tagger .tag-user, #answer-editor .tagger .tag-user {
    min-height: 28px;
}
