body {
    counter-reset: figure-cat-0 figure-cat-1 figure-cat-2 footnote-counter footnote-marker-counter;
}

/* CSL */

.csl-bib-body {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.csl-left-margin {
    padding-right: 1ch;
}

.csl-entry i {
    font-style: italic;
}

.csl-entry b {
    font-weight: bold;
}

.csl-entry sup {
    vertical-align: super;
    font-size: smaller;
}

.csl-entry sub {
    vertical-align: sub;
    font-size: smaller;
}

.csl-indent {
    padding-left: 0.5in;
}

.csl-entry {
     clear: left;
}

.csl-left-margin {
    clear: left;
    float: left;
    white-space: pre;
}

.csl-right-inline {
    padding-left: 20px;
}

span.anchor {
    text-decoration: underline;
    color: green;
}

.article .contributor {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 12px;
    height: 34px;
    display: inline-block;
    border-radius: 3px;
    line-height: 34px;
    cursor: pointer;
    color: #fff;
    background: #76a698;
    border: 1px solid #7d948e;
}

figure figcaption {
    margin-top: 10px;
    font-size: .9em;
}

figure img {
    max-width: 100%
}


figure {
    width: calc(80% - 12px);
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    break-inside: avoid;
    cursor: pointer;
    margin: 10%;
}

.figure-cat-figure::after {
    counter-increment: figure-cat-0;
    content: ' ' counter(figure-cat-0) ': ';
}

.figure-cat-photo::after {
    counter-increment: figure-cat-1;
    content: ' ' counter(figure-cat-1) ': ';
}

.figure-cat-table::after {
    counter-increment: figure-cat-2;
    content: ' ' counter(figure-cat-2) ': ';
}

.user-contents a, .user-contents a:hover {
    color: #84b4a7;
    text-decoration: underline;
}
