/* Footnotes */
#footnote-box-container {
    display: table-cell;
    width: 20vw;
    vertical-align: top;
}

#citation-footnote-box-container {
    position: absolute;
    width: 20vw;
}

#footnote-box-container .footnote-container > *:first-child::before {
  counter-increment: footnote-counter;
  content: counter(footnote-counter) ' ';
}

#flow, #print {
  counter-reset: footnote-counter footnote-marker-counter;
}

/* footnotes in main editor */

.footnote-marker::before, .citation-footnote-marker::before {
  counter-increment: footnote-marker-counter;
  content: counter(footnote-marker-counter);
}

.footnote-container {
  margin-top: 10px;
}


/* footnotes in footnote in print */
.pagination-footnotes .footnote-marker::before {
  content: '';
  counter-increment: none;
}

.pagination-footnotes .footnote-marker > *:first-child::before {
  counter-increment: footnote-counter;
  content: counter(footnote-counter) ' ';
}

.pagination-contents .footnote-marker > * {
  display: none;
}

.footnote-marker, .citation-footnote-marker {
  font-size: 75%;
  /*line-height: 0;*/
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
