.CT-hide .del {
    display:none;
}

.CT-hide .ins {
    color:#333;
    background:none !important;
    border:none !important;
    text-decoration:none;
}

.CT-hide figure {
    border-color: #333 !important;
}

.CT-hide .ins svg g {
    stroke: #333;
    fill: #333;
}

.del {
    text-decoration:line-through;
}

.del .pagination-footnote > * > * > * {
    text-decoration:line-through !important;
}

.del figure {
    border-top: 3px dashed;
    border-bottom: 3px dashed;
}

.ins {
    text-decoration:underline;
}


.cts-1 { color: #83cdbe; }
.del.cts-1 img { border-color: #83cdbe; }
.ins.cts-1 img { background-color: #83cdbe; }
.cts-1-review { background-color: #83cdbe; }
.cts-1-review:after { color: #83cdbe; }
.cts-1 svg g {
    stroke: #83cdbe;
    fill: #83cdbe;
}
.cts-1 figure {
    border-color: #83cdbe;
}

.cts-2 { color:#f4989d; }
.del.cts-2 img { border-color:#f4989d; }
.ins.cts-2 img { background-color:#f4989d; }
.cts-2-review { background-color: #f4989d; }
.cts-2-review:after { color: #f4989d; }
.cts-2 svg g {
    stroke: #f4989d;
    fill: #f4989d;
}
.cts-2 figure {
    border-color: #f4989d;
}

.cts-3 { color:#1a87c8; }
.del.cts-3 img { border-color:#1a87c8; }
.ins.cts-3 img { background-color:#1a87c8; }
.cts-3-review { background-color: #1a87c8; }
.cts-3-review:after { color: #1a87c8; }
.cts-3 svg g {
    stroke: #1a87c8;
    fill: #1a87c8;
}
.cts-3 figure {
    border-color: #1a87c8;
}

.cts-4 { color:#bb268c; }
.del.cts-4 img { border-color:#bb268c; }
.ins.cts-4 img { background-color:#bb268c; }
.cts-4-review { background-color: #bb268c; }
.cts-4-review:after { color: #bb268c; }
.cts-4 svg g {
    stroke: #bb268c;
    fill: #bb268c;
}
.cts-4 figure {
    border-color: #bb268c;
}

.cts-5 { color:#a1bd59; }
.del.cts-5 img { border-color:#a1bd59; }
.ins.cts-5 img { background-color:#a1bd59; }
.cts-5-review { background-color: #a1bd59; }
.cts-5-review:after { color: #a1bd59; }
.cts-5 svg g {
    stroke: #a1bd59;
    fill: #a1bd59;
}
.cts-5 figure {
    border-color: #a1bd59;
}

.cts-6 { color:#a9a6d3; }
.del.cts-6 img { border-color:#a9a6d3; }
.ins.cts-6 img { background-color:#a9a6d3; }
.cts-6-review { background-color: #a9a6d3; }
.cts-6-review:after { color: #a9a6d3; }
.cts-6 svg g {
    stroke: #a9a6d3;
    fill: #a9a6d3;
}
.cts-6 figure {
    border-color: #a9a6d3;
}

.cts-7 { color:#6bbc79; }
.del.cts-7 img { border-color:#6bbc79; }
.ins.cts-7 img { background-color:#6bbc79; }
.cts-7-review { background-color: #1a87c8; }
.cts-7-review:after { color: #1a87c8; }
.cts-7 svg g {
    stroke: #1a87c8;
    fill: #1a87c8;
}
.cts-7 figure {
    border-color: #1a87c8;
}

.cts-8 { color:#f68d51; }
.del.cts-8 img { border-color:#f68d51; }
.ins.cts-8 img { background-color:#f68d51; }
.cts-8-review { background-color: #f68d51; }
.cts-8-review:after { color: #f68d51; }
.cts-8 svg g {
    stroke: #f68d51;
    fill: #f68d51;
}
.cts-8 figure {
    border-color: #f68d51;
}

.ice-avoid {
    color:red;
}

.del img {
    border-top-style:dotted;
    border-bottom-style:dotted;
    border-width:4px;
}

.ins img {
    padding:3px;
}

.ins .del img {
    padding:0 3px;
}