/*
 * QuestionMark.js by Louis Lazaris
 * http://impressivewebs.github.io/QuestionMark.js/
 * License: http://creativecommons.org/licenses/by/2.0/, no credit needed.
 */

  .help-key {
    float: none;
    line-height: 1.5;
    position: relative;
    bottom: 4px;
  }


.help-list-wrap {
  overflow: hidden;
  margin: 0 auto;
  -webkit-transition: width .2s linear;
  -moz-transition: width .2s linear;
  -o-transition: width .2s linear;
  transition: width .2s linear;
}

.help-list {
  list-style: none;
  margin: 0;
  padding: 0 0 10px 0;
  overflow: hidden;
  float: left;
  width: 280px;
}

  .help-list li {
    margin-right: 40px;
  }

.help-key-unit {
  line-height: 1.8;
  margin-right: 2em;
  padding: 5px 0;
}

.help-key {
  min-width: 60px;
  float: left;
  clear: left;
  position: relative;
  bottom: 2px;
}

.help-key span {
  font-size: 15px;
  color: #555;
  display: inline-block;
  padding: 0 8px;
  text-align: center;
  background-color: #fff;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
  background-image: -webkit-linear-gradient(#f5f5f5 0%, #eee 100%);
  background-image: -moz-linear-gradient(#f5f5f5 0%, #eee 100%);
  background-image: -o-linear-gradient(#f5f5f5 0%, #eee 100%);
  background-image: linear-gradient(#f5f5f5 0%, #eee 100%);
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
}

.help-key-def {
  display: inline-block;
  margin-left: 1em;
}
