.container{
    position: relative;
}
.menu-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
    right: 0px;
}
.btn-disabled{
    pointer-events: none;
    opacity:0.6;
}

.btn-hide{
    pointer-events: none;
    opacity:0.0;
}
.menu-stripe {
    position: relative;
    width: 18px;
    height: 48px;
}
.menu-stripe:before, .menu-stripe:after {
    background: #64b4a0;
    content: "";
    position: absolute;
    height: 3px;
    top: 12px;
    box-shadow: 0 8px #64b4a0, 0 16px #64b4a0;
}
.menu-stripe:before {
    width: 3px;
    left: 8px;
}


.menu-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 260px;
    background-color: #f1f1f1;
}
.menu-item{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}
.menu-item:hover {
    background-color: #555;
    color: white;
}
