.table-container {
    position: relative;
}
.table-menu-btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
    right: -15px;
    top: 8px;
}
.table-menu-icon {
    font-size: 18px;
    color:#cecece;
}

.table-menu-list {
    list-style: none;
    padding: 0 0 5px 0;
    cursor: pointer;
}
.table-menu-item {
    padding: 18px 31px 15px 31px;
    color: #2c2723;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 1em;
}
.table-menu-item.disabled {
    pointer-events: none;
    opacity:0.6;
}
.table-menu-item:hover {
    background-color: #eeeeee;
}
.table-menu-item-divider {
    border: 0.8px solid #eeeeee !important;
}
