

.tag {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 5px;
    border-radius: 3px;
    line-height: 2em;
    cursor: pointer;
    color: #fff;
    background: #76a698;
    border: 10px solid #7d948e;
}

.testing  {
    width: 50px;
    height: 20px;
    color: #424242;
    position: absolute;
    right: 5px;
    cursor: pointer;
   }

   .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 360px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}

  .disabled {
    pointer-events: none; 
    opacity:0.6;
  }


  .menu-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
  }

  .menu-item{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-item:hover {
    background-color: #555;
    color: white;
  }