

.tag {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 5px;
    border-radius: 3px;
    line-height: 2em;
    cursor: pointer;
    color: #fff;
    background: #76a698;
    border: 10px solid #7d948e;
}