body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #2c2723;
    width: 100%;
    background-color: #f2f2f2;
}

header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

#close-document-top {
    position: fixed;
    right: 30px;
    top: 28px;
    z-index: 100;
    cursor: pointer;
}

#document-top {
    padding: 16px 0;
    background-color: #84b4a7;
    width: 100%;
}
#document-top > h1 {
    font-size: 22px;
    color: #fff;
    font-style: italic;
    padding-left: 108px;
    background: url(../img/fidus_face.png) no-repeat 68px 0;
    background-size: 17px 21px;
}
#header-navigation {
    position: relative;
    margin: 20px 0 0 68px;
    -webkit-user-select: none;
}
#header-navigation > div {
    position: relative;
    display: inline-block;
    margin-right: 18px;
    height: 18px;
    overflow: visible;
}
#header-navigation span {
    cursor: pointer;
}
#header-navigation .header-nav-item {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
#header-navigation .header-nav-item:hover {
    color: #fff;
    text-shadow: none;
}
#header-navigation span.selected, #toolbar span.selected {
    background-color: black;
    color: white;
}

#header-navigation span.deactivated {
    text-decoration: line-through;
}
#header-navigation span.disabled, #toolbar span.disabled {
    color: #ccc !important;
    text-shadow: none;
}
#header-navigation span.selected.disabled, #toolbar span.selected.disabled {
    background-color: #ccc;
    color: white !important;
}
/*
 * Toolbar Style
 */
#toolbar {
    display: block;
    background-color: #f9f9f9;
    z-index: 88;
    width: 100%;
    -webkit-user-select: none;
    padding: 12px 0;
}
#ice-control {
    right: 0;
}
#comments-display {
    left: 100%;
    margin-left: 14px;
    background-color: #fbf9d2;
    vertical-align: top;
}
#comments-display.selected {
    background-color: #f2f2f2;
}
#comments-display:hover {
    background-color: #c9c9c9;
}
#comments-display.disabled {
    color: #ccc;
    background-color: #f2f2f2;
}
#reviewed {
    left: 100%;
    margin-left: 14px;
    background-color: #81F781;
}
#reviewed:hover {
    background-color: #c9c9c9;
}
.editortoolbar {
    position: relative;
    left: 14px;
    width: auto !important;
}
.editortoolbar div.ui-buttonset {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    margin-right: 7px;
}

.editortoolbar div.info {
  /*max-width: 90px;*/
  min-width: 62px;
  color: #000;
  background-color: #f2f2f2;
  text-shadow: none;
  border-color: #c9c9c9;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: none;
  box-sizing: content-box;
  white-space: nowrap;
  margin-right: 7px;
}


.editortoolbar div.multiButtons {
    width: auto;
}

.editortoolbar div.multiButtons .multibuttonsCover {
    position: relative;
    min-width: 80px;
    max-width: 120px;
    font-size: 11px;
    font-weight: 900;
}
.editortoolbar div.multiButtons .multibuttonsCover:after {
    display: block;
    position: absolute;
    right: 10px;
    top: 0px;
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    speak: none;
    text-align: right;
    margin-top: 0;
    content: '\25be';
}

.editortoolbar .fw-button.no-border {
    background: transparent;
    border-color: transparent;
}

.editortoolbar .header-closed .icon-angle-double-up:before {
    content: '\f103';
}

.ui-dialog-content-table .dk_toggle {
    width: 533px !important;
}
.ui-dialog-content-table .dk_options_inner a {
    white-space: nowrap;
    overflow: hidden;
}

div#statusarea {
    position: absolute;
    right: 50%;
    top: 100%;
    z-index: 80;
    width: 200px;
    text-align: right;
    margin-right: -4in;
    color: #828282;
    padding-top: 16px;
}
div#statusarea .saved {
    padding: 2px 21px 0 0;
    background: url(../img/loading.gif) no-repeat right top;
}
div#statusarea .error {
    color: red;
}
#editor-content {
    display: flex;
    top: 200px;
    bottom: 50px;
    padding: .5in 68px 0 68px !important;
    position: relative;
    max-width: 1600px;
}
#flow .article-bibliography {
    background-color: lightgrey;
}
#paper-editable .citation, .equation {
    cursor: pointer;
    background-color: lightgrey;
}
#paper-editable .citation:hover, .equation:hover {
    background-color: grey;
}

#paper-editable {
    display: table;
    width: 100%;
}

#document-editable {
    display: table-cell;
    vertical-align: top;
}



div#layout {
    padding-top: 60px;
}
/*
 * Dialog
 */
.dialogSubmit {
    text-align: right;
    margin-top: 20px;
}

/* for forms */
input.required, error {
    border: 2px solid red;
}

/* For print */

@media print {

    #editor {
        display: none !important;
    }
/*
    #pagination-layout {
        top: 0 !important;
    }

    .pagination-page {
        margin: 0 !important;
        border: 0 !important;
    }

    body {
        margin-bottom: 0;
    }*/
}
#print {
    z-index: 100;
    position: absolute;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(234,234,234,0.5);
    display: none;
}
#print table, #print figure {
    width: 100%;
}
/* Overwrite color changes through font in editor. Webkit bug */

font {
    color: inherit !important;
}

/* Don't show metadata fields marked as hidden*/

.metadata[data-hidden] {
    display: none;
}

/* For default contents of title and contents field*/

.article-part:before {
    text-transform: none;
    color: #cecece;
}
/* For Firefox problem: shows input fields without height. */

.article-part {
    min-height: 1.5em;
    line-height: initial; /* Cancel out 1.6em line height for metadata/title. */
}


/* overwrite dropkick layout for access rights dialogue */

.access-rights-dialog select {
    position: static;
    visibility: inherit;
    top: 0;
}
/* delete icon in access rights dialogue */
span.delete {
    cursor: pointer;
}

.article-title:focus, .article-body:focus {
    outline: none;
}


.pagination-footnote-item {
    width: 100%;
}
.pagination-footnote-item-container {
    cursor: pointer;
}
.pagination-footnote-item-container::before {
    content: '\0000a0x';
    position: absolute;
    visibility: hidden;
    font-weight: bold;
}
.pagination-footnote-item-container:hover::before {
    visibility: visible;
}
.pagination-footnote-item-container > div {
    margin-left: 15px;
}

#flow {
    border: 1px solid #ccc;
}

.article-body, .pagination-footnote > * > * {
    font-size: 12pt;
}

#flow {
    padding: 50px;
/*    padding-right: calc(20vw + 10px);*/
    position: relative;
    width: 100%;
    bottom: 50px;
}

figure {
    width: 80%;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    -webkit-region-break-inside: avoid;
    cursor: pointer;
}

#flow figure {
    margin: 10%;
}

figure figcaption {
    margin-top: 10px;
    font-size: .9em;
}

figure img {
    max-width: 100%
}

div#print,
div#flow {
    counter-reset: figure-cat-0 figure-cat-1 figure-cat-2 footnote-counter footnote-marker-counter;
}

#flow {
    background-color: white;
}
/*
body {counter-reset: pagination-footnote pagination-footnote-reference;}
#flow .pagination-footnote::before {
    counter-increment: pagination-footnote-reference;
    content: counter(pagination-footnote-reference);
}

#flow .pagination-footnote > * > *:first-child::before {
    counter-increment: pagination-footnote;
    content: counter(pagination-footnote);}
#flow .pagination-footnote > * > * {display: block;}
#flow .pagination-footnote > * > * {font-size: 0.7em; margin:.25em;}
#flow .pagination-footnote > * > *::before, .pagination-footnote::before {position: relative; top: -0.5em; font-size: 80%;}
#flow .pagination-footnote > span {
    position: absolute;
    right: calc(-20vw - 10px);
    width: 20vw;
}
*/

.figure-cat-figure::after {
    counter-increment: figure-cat-0;
    content: ' ' counter(figure-cat-0) ': ';
}

.figure-cat-photo::after {
    counter-increment: figure-cat-1;
    content: ' ' counter(figure-cat-1) ': ';
}

.figure-cat-table::after {
    counter-increment: figure-cat-2;
    content: ' ' counter(figure-cat-2) ': ';
}

*:focus {
    outline: none;
}

#document-editable {
    white-space: pre-wrap;
}

.ProseMirror {
  border: none !important;
}

.ProseMirror {
  padding: 0 !important;
  line-height: inherit !important;
}
.ProseMirror table {
  border-collapse: collapse;
  margin: 10px 0 10px 0;
}
.ProseMirror td {
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 3px 5px;
}
#comments-filter {
    margin-left: 7px;
}
#unobtrusive_messages {
  position: fixed;
  bottom: 0;
  left: 100px;
  background-color: #f2f2f2;
  border-top: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  padding: 4px;
}

#unobtrusive_messages .warn {
  color: #b73717;
}

#unobtrusive_messages:empty {
  display: none;
}

/* Show key bindings menu */

.help-key {
  float: none;
  line-height: 1.5;
  position: relative;
  bottom: 4px;
}


.help-list-wrap {
overflow: hidden;
margin: 0 auto;
-webkit-transition: width .2s linear;
-moz-transition: width .2s linear;
-o-transition: width .2s linear;
transition: width .2s linear;
}

.help-list {
list-style: none;
margin: 0;
padding: 0 0 10px 0;
overflow: hidden;
float: left;
width: 330px;
}

.help-list li {
  margin-right: 40px;
}

.help-key-unit {
line-height: 1.8;
margin-right: 2em;
padding: 5px 0;
}

.help-key {
min-width: 60px;
float: left;
clear: left;
position: relative;
bottom: 2px;
}

.help-key span {
font-size: 15px;
color: #555;
display: inline-block;
padding: 0 8px;
text-align: center;
background-color: #fff;
background-repeat: repeat-x;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
background-image: -webkit-linear-gradient(#f5f5f5 0%, #eee 100%);
background-image: -moz-linear-gradient(#f5f5f5 0%, #eee 100%);
background-image: -o-linear-gradient(#f5f5f5 0%, #eee 100%);
background-image: linear-gradient(#f5f5f5 0%, #eee 100%);
border: 1px solid #ccc;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
}

.help-key-def {
display: inline-block;
margin-left: 1em;
}

/* MathQuill Editor Overwrite */
.math-field {
    min-width: 250px;
    background-color: white;
    margin: 9px 0 7px 0;
    padding-left: 5px;
    font-size: 20px;
    display: block;
}

.math-latex {
    display: block;
    min-width: 250px;
    margin: 5px 0 5px 0;
    font-size: 18px;
    padding-left: 5px;
}

.math-field-header {
    font-size: 113%;
    font-weight: 400;
}

.math-error {
    margin: 10px 0px;
    padding:12px;
    color: #D8000C;
    background-color: #FFBABA;
    font-size:2em;
    vertical-align:middle;
    display: none;
}

div.table-edit-button-group {
    margin-bottom: 10px;
    text-align: left;
}

table.insert-table-selection {
    margin: 10px 0 10px 0;
}

table.insert-table-selection, table.insert-table-selection td {
    border: 1px solid #ddd;
}

table.insert-table-selection td {
    min-width: 30px;
    height: 18px;
}

table.insert-table-selection td.hover {
    background-color: #c9c9c9;
}

table.insert-table-selection td.selected {
    background-color: #4f4d4f;
}

table.insert-table-selection td.selected.hover {
    background-color: #585858;
}

.ProseMirror td.selectedCell {
    background-color: #8cf;
    caret-color: transparent;
}

/* CSL */

.csl-bib-body {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.csl-left-margin {
    padding-right: 1ch;
}

.csl-entry i {
    font-style: italic;
}

.csl-entry b {
    font-weight: bold;
}

.csl-entry sup {
    vertical-align: super;
    font-size: smaller;
}

.csl-entry sub {
    vertical-align: sub;
    font-size: smaller;
}

.csl-indent {
    padding-left: 0.5in;
}

.csl-entry {
     clear: left;
}

.csl-left-margin {
    clear: left;
    float: left;
    white-space: pre;
}

.csl-right-inline {
    padding-left: 20px;
}

/* Wide table: used for submission dialog */

.fw-dialog-table-wide .entry-field input[type=text] {
    width: 678px;
}

.fw-dialog-table-wide th {
    vertical-align: top;
    padding: 0 6px 0 8px;
    width: 164px;
}

/* Links */

.link-drop-up-outer {
    position: absolute;
}

.link-drop-up-inner {
    position: relative;
    top: -88px;
    background-color: white;
    border: 1px solid grey;
    padding: 2px;
    z-index: 1;
    font-weight: normal;
}

.link-drop-up-inner .edit {
    font-size: 0.8em;
    text-align: right;
}

.link-drop-up-inner a.href {
    color: #0000EE;
}

.link-drop-up-inner a.href:visited {
    color: #551A8B;
}

/* Keywords */

.keyword-input {
    display: inline-block;
}

.keyword-input input {
    border: 0;
    background-color: white;
}

.keyword-input input:focus {
    background-color: white;
}

.article-keywords .keyword {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 5px;
    border-radius: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #fff;
    background: #76a698;
    border: 1px solid #7d948e;
}
