body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    color: #2c2723;
    width: 100%;
    background-color: #f2f2f2;
}

#close-document-top {
    position: fixed;
    right: 30px;
    top: 28px;
    z-index: 100;
    cursor: pointer;
}

#header {
    position: fixed;
    padding: 16px 0;
    background-color: #84b4a7;
    z-index: 99;
    width: 100%;
    top:0;
}
#header > h1 {
    font-size: 22px;
    color: #fff;
    font-style: italic;
    padding-left: 108px;
    background: url(../img/fidus_face.png) no-repeat 68px 0;
    background-size: 17px 21px;
}
#header-navigation {
    position: relative;
    margin: 20px 0 0 68px;
    -webkit-user-select: none;
}
#header-navigation > div {
    position: relative;
    display: inline-block;
    margin-right: 18px;
    height: 18px;
    overflow: visible;
}
#header-navigation span {
    cursor: pointer;
}
#header-navigation .header-nav-item {
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
#header-navigation .header-nav-item:hover {
    color: #fff;
    text-shadow: none;
}
#header-navigation span.selected, #editor-navigation span.selected {
    background-color: black;
    color: white;
}

#header-navigation span.deactivated {
    text-decoration: line-through;
}
#header-navigation span.disabled, #editor-navigation span.disabled {
    color: #ccc !important;
    text-shadow: none;
}
#header-navigation span.selected.disabled, #editor-navigation span.selected.disabled {
    background-color: #ccc;
    color: white !important;
}
/*
 * Toolbar Style
 */
#editor-navigation {
    position: fixed;
    display: block;
    background-color: #f9f9f9;
    z-index: 88;
    width: 100%;
    top: 92px;
    -webkit-user-select: none;
}
#editor-tools-wrapper {
    position: relative;
    padding: 12px 0;
    width: 1250px;
}
#open-close-header {
    position: absolute;
    z-index: 100;
}
#open-close-header {
    left: 14px;
    top: 12px;
    background: transparent;
    border-color: #f9f9f9;
}
#open-close-header:hover {
    background: #c9c9c9;
    border-color: #c9c9c9;
}
#open-close-header.header-closed .icon-angle-double-up:before {
    content: '\f103';
}
#ice-control {
    right: 0;
}
#comments-display {
    left: 100%;
    margin-left: 14px;
    background-color: #fbf9d2;
}
#comments-display.selected {
    background-color: #f2f2f2;
}
#comments-display:hover {
    background-color: #c9c9c9;
}
#comments-display.disabled {
    color: #ccc;
    background-color: #f2f2f2;
}
.editortoolbar {
    position: relative;
    left: 68px;
    width: auto !important;
}
.editortoolbar div.ui-buttonset {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    vertical-align: top;
    margin-right: 7px;
}

.editortoolbar #current-position {
  max-width: 90px;
  min-width: 62px;
  color: #000;
  background-color: #f2f2f2;
  text-shadow: none;
  border-color: #c9c9c9;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  display: inline-block;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  text-decoration: none;
  box-shadow: none;
  box-sizing: content-box;
  white-space: nowrap;
  margin-right: 7px;
}


.editortoolbar div.multiButtons {
    width: auto;
}

.editortoolbar div.multiButtons .multibuttonsCover {
    position: relative;
    min-width: 80px;
    max-width: 120px;
    font-size: 11px;
    font-weight: 900;
}
.editortoolbar div.multiButtons .multibuttonsCover:after {
    display: block;
    position: absolute;
    right: 10px;
    top: 7px;
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    speak: none;
    text-align: right;
    margin-top: 0;
    content: '\25be';
}

.ui-dialog-content-table .dk_toggle {
    width: 533px !important;
}
.ui-dialog-content-table .dk_options_inner a {
    white-space: nowrap;
    overflow: hidden;
}

div#statusarea {
    position: absolute;
    right: 50%;
    top: 100%;
    z-index: 80;
    width: 200px;
    text-align: right;
    margin-right: -4in;
    color: #828282;
    padding-top: 16px;
}
div#statusarea .saved {
    padding: 2px 21px 0 0;
    background: url(../img/loading.gif) no-repeat right top;
}
div#statusarea .error {
    color: red;
}
#editor-content {
    display: flex;
    top: 200px;
    bottom: 50px;
    padding: .5in 68px 0 68px !important;
    position: relative;
    max-width: 1600px;
}
#flow #document-bibliography {
    background-color: lightgrey;
}
#paper-editable .citation, .equation {
    cursor: pointer;
    background-color: lightgrey;
}
#paper-editable .citation:hover, .equation:hover {
    background-color: grey;
}
#paper-editable {
    display: table;
    width: 100%;
}

#document-editable {
    display: table-cell;
    vertical-align: top;
}



#menu1 .selected:before {
    content: "✓ ";
}
div#layout {
    padding-top: 60px;
}
ul#menu2 {
    clear: both;
    width: 160px;
    margin-top: 10px;
}
ul#menu1 > li.potato-menu-item {
    border-radius: 6px;
}
li.potato-menu-item {
    width: 160px;
    font-size: 12px;
    background-color: #EEEEEC;
    /* background-color:#333;
     background-color:rgba(0,0,0,0.9);*/
}
li.potato-menu-item a {
    padding: 5px 20px 5px 12px;
    color: black;
}
li.potato-menu-hover {
    background-color: #ddd;
}
/*li.potato-menu-has-vertical > a {
 background: transparent url(/images/icons/fammini/arrow_down.gif) right no-repeat;
 }
 li.potato-menu-has-holizontal > a {
 background: transparent url(/images/icons/fammini/arrow_right.gif) right no-repeat;
 }*/
li.potato-menu-item ul {

    border-radius: 6px;
    border: 1px solid #BABDB6;
}
/*
 * Dialog
 */
.dialogSubmit {
    text-align: right;
    margin-top: 20px;
}

/* for forms */
input.required, error {
    border: 2px solid red;
}
/*!
 * jquery.ui.potato.menu
 *
 * Copyright (c) 2009-2010 makoto_kw, http://www.makotokw.com
 * Licensed under the MIT license.
 *
 * @author makoto_kw
 * @version 1.1
 */
ul.potato-menu {
    margin: 0;
    padding: 0;
    width: auto;
    list-style: none;
}
.potato-menu:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}
ul.potato-menu li.potato-menu-item {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    list-style-position: outside;
    display: inline;
    float: left;
}
ul.potato-menu li.potato-menu-item a {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    outline: 0;
}
ul.potato-menu ul.potato-menu-group {
    margin: 0;
    padding: 3px;
    -webkit-padding-start: 0;
    -webkit-padding-end: 0;
    position: absolute;
    display: none;
    z-index: 1000;
    background-color: #EEEEEC;
}
/* For print */

@media print {

    #editor {
        display: none !important;
    }
/*
    #pagination-layout {
        top: 0 !important;
    }

    .pagination-page {
        margin: 0 !important;
        border: 0 !important;
    }

    body {
        margin-bottom: 0;
    }*/
}
#print {
    z-index: 100;
    position: absolute;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    background-color: rgba(234,234,234,0.5);
    display: none;
}
/* Overwrite color changes through font in editor. Webkit bug */

font {
    color: inherit !important;
}
/* For default contents of title and contents field*/

#document-contents:before, #document-title:before, #metadata-subtitle:before, #metadata-abstract:before, #metadata-authors:before, #metadata-keywords:before {
    text-transform: none;
    color: #cecece;
}
/* For Firefox problem: shows input fields without height. */

#document-contents, #document-title, #metadata-subtitle, #metadata-abstract, #metadata-authors, #metadata-keywords {
    min-height: 1.5em;
    line-height: initial; /* Cancel out 1.6em line height for metadata/title. */
}


/* overwrite dropkick layout for access rights dialogue */

.access-rights-dialog select {
    position: static;
    visibility: inherit;
    top: 0;
}
/* delete icon in access rights dialogue */
span.delete {
    cursor: pointer;
}
#document-title:focus, #document-contents:focus {
    outline: none;
}
/*#document-contents {*/
    /*min-height: 400px;*/
/*}*/

.pagination-footnote-item {
    width: 100%;
}
.pagination-footnote-item-container {
    cursor: pointer;
}
.pagination-footnote-item-container::before {
    content: '\0000a0x';
    position: absolute;
    visibility: hidden;
    font-weight: bold;
}
.pagination-footnote-item-container:hover::before {
    visibility: visible;
}
.pagination-footnote-item-container > div {
    margin-left: 15px;
}

#flow {
    border: 1px solid #ccc;
}

#document-contents, .pagination-footnote > * > * {
    font-size: 12pt;
}

#flow {
    padding: 50px;
/*    padding-right: calc(20vw + 10px);*/
    position: relative;
    width: 100%;
    bottom: 50px;
}

figure {
    width: 80%;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin: 10%;
    -webkit-region-break-inside: avoid;
    cursor: pointer;
}

figure figcaption {
    margin-top: 10px;
    font-size: .9em;
}

figure img {
    max-width: 100%
}

#paper-editable {
    counter-reset: figure-cat-0 figure-cat-1 figure-cat-2;
}

#flow {
    background-color: white;
}
/*
body {counter-reset: pagination-footnote pagination-footnote-reference;}
#flow .pagination-footnote::before {
    counter-increment: pagination-footnote-reference;
    content: counter(pagination-footnote-reference);
}

#flow .pagination-footnote > * > *:first-child::before {
    counter-increment: pagination-footnote;
    content: counter(pagination-footnote);}
#flow .pagination-footnote > * > * {display: block;}
#flow .pagination-footnote > * > * {font-size: 0.7em; margin:.25em;}
#flow .pagination-footnote > * > *::before, .pagination-footnote::before {position: relative; top: -0.5em; font-size: 80%;}
#flow .pagination-footnote > span {
    position: absolute;
    right: calc(-20vw - 10px);
    width: 20vw;
}
*/

.figure-cat-figure::after {
    counter-increment: figure-cat-0;
    content: ' ' counter(figure-cat-0) ': ';
}

.figure-cat-photo::after {
    counter-increment: figure-cat-1;
    content: ' ' counter(figure-cat-1) ': ';
}

.figure-cat-table::after {
    counter-increment: figure-cat-2;
    content: ' ' counter(figure-cat-2) ': ';
}

*:focus {
    outline: none;
}

#document-editable {
    white-space: pre-wrap;
}

.ProseMirror {
  border: none !important;
}

.ProseMirror-content {
  padding: 0 !important;
  line-height: inherit !important;
}

#comments-filter {
    margin-left: 7px;
}
#unobtrusive_messages {
  position: fixed;
  bottom: 0;
  left: 100px;
  background-color: #f2f2f2;
  border-top: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
  border-left: 1px solid #c9c9c9;
  padding: 4px;
}

#unobtrusive_messages:empty {
  display: none;
}

/* Show key bindings menu */

.help-key {
  float: none;
  line-height: 1.5;
  position: relative;
  bottom: 4px;
}


.help-list-wrap {
overflow: hidden;
margin: 0 auto;
-webkit-transition: width .2s linear;
-moz-transition: width .2s linear;
-o-transition: width .2s linear;
transition: width .2s linear;
}

.help-list {
list-style: none;
margin: 0;
padding: 0 0 10px 0;
overflow: hidden;
float: left;
width: 330px;
}

.help-list li {
  margin-right: 40px;
}

.help-key-unit {
line-height: 1.8;
margin-right: 2em;
padding: 5px 0;
}

.help-key {
min-width: 60px;
float: left;
clear: left;
position: relative;
bottom: 2px;
}

.help-key span {
font-size: 15px;
color: #555;
display: inline-block;
padding: 0 8px;
text-align: center;
background-color: #fff;
background-repeat: repeat-x;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
background-image: -webkit-linear-gradient(#f5f5f5 0%, #eee 100%);
background-image: -moz-linear-gradient(#f5f5f5 0%, #eee 100%);
background-image: -o-linear-gradient(#f5f5f5 0%, #eee 100%);
background-image: linear-gradient(#f5f5f5 0%, #eee 100%);
border: 1px solid #ccc;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
box-shadow: inset 0 1px 0 #fff, 0 1px 0 #ccc;
}

.help-key-def {
display: inline-block;
margin-left: 1em;
}

/* MathQuill Editor Overwrite */
.math-field {
    min-width: 250px;
    background-color: white;
    margin: 9px 0 7px 0;
    padding-left: 5px;
    font-size: 20px;
    display: block;
}

.math-latex {
    display: block;
    min-width: 250px;
    margin: 5px 0 5px 0;
    font-size: 18px;
    padding-left: 5px;
}

.math-field-header {
    font-size: 113%;
    font-weight: 400;
}

.math-error {
    margin: 10px 0px;
    padding:12px;
    color: #D8000C;
    background-color: #FFBABA;
    font-size:2em;
    vertical-align:middle;
    display: none;
}
