span.deletion {
    text-decoration: line-through;
}

.selected-insertion, .selected-deletion {
    background-color: #fffacf;
}


.margin-box .track-title {
    text-align: right;
    font-weight: 700;
}

[data-track] {
    position: relative;
}


[data-track]::before {
    content: '';
    position: absolute;
    border-left: 1px solid black;
    left: -10px;
    height: 22px;
}
