{% extends "base.html" %}
{% load i18n %}
{% load compress %}

{% block title %}{% trans "Media Manager" %}{% endblock %}

{% block extraheaders %}

{% compress js %}
<!-- jQuery tablesorter -->
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.dataTables.min.js"></script>
<!-- jQuery Dropkick -->
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.dropkick-1.1.0.js"></script>
{% endcompress %}

{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/images-overview.es5.js"></script>
{% endcompress %}

{% endblock %}

{% block contents %}
<ul class="fw-document-menu">
    <li class="fw-document-menu-item">
        <div id="action-selection" class="fw-button fw-light fw-large">
            <input type="checkbox" id="select-all-entry" />
            <span id="select-action-dropdown" class="icon-down-dir"></span>
        </div>
        <div id="action-selection-pulldown" class="fw-pulldown fw-left">
            <ul>
                <li>
                    <span class="fw-pulldown-item" data-action="delete">
                        {% trans "Delete selected" %}
                    </span>
                </li>
            </ul>
        </div>
    </li>
    <li class="fw-document-menu-item">
        <div id="image-category-btn" class="fw-button fw-light fw-large">
            <input type="hidden" id="image-category" value="0" />
            <label>{% trans "All categories" %}</label>
            <span class="icon-down-dir"></span>
        </div>
        <div id="image-category-pulldown" class="fw-pulldown fw-left">
            <ul id="image-category-list">
                <li>
                    <span class="fw-pulldown-item" data-id="0">
                        {% trans "All categories" %}
                    </span>
                </li>
            </ul>
        </div>
    </li>
    <li class="fw-document-menu-item">
        <span id="edit-category" class="fw-button fw-light fw-large">
            {% trans "Edit categories" %}
            <span class="icon-edit"></span>
        </span>
    </li>
    <li class="fw-document-menu-item">
        <span class="edit-image createNew fw-button fw-light fw-large">
            {% trans "Upload new image" %}
            <span class="icon-plus-circle"></span>
        </span>
    </li>
</ul>
<div class="fw-table-wrapper">
    <table id="imagelist" class="tablesorter fw-document-table">
        <thead class="fw-document-table-header">
            <tr>
                <td width="30"></td>
                <th width="350">{% trans "File" %}</th>
                <th width="170">{% trans "Size (px)" %}</th>
                <th width="170">{% trans "Updated" %}</th>
                <td width="50">{% trans "Delete" %}</td>
            </tr>
        </thead>
        <tbody class="fw-document-table-body fw-large">
        </tbody>
    </table>
</div>

{% endblock %}
