.fw-document-table {
    font-size: 12px;
    line-height: 15px;
}

.fw-document-table thead {
    font-size: 11px;
    font-weight: 900;
}

.fw-document-table.fw-large tbody {
    width: 985px;
    max-height: calc(100vh - 320px);
}
.fw-document-table.fw-middle tbody {
    width: 600px;
    max-height: calc(100vh - 320px);
}

.fw-document-table.fw-small tbody {
    width: 342px;
    height: 270px;
}

.fw-document-table.fw-min tbody {
    width: 342px;
    height: 225px;
}

.fw-document-table tbody tr:hover {
  background-color: #fbf9d2;
}

.dataTable-headercontainer th,
.fw-document-table td,
.fw-document-table th {
    border-bottom: solid 1px #cecece;
}

.fw-document-table thead > tr > th,
.fw-document-table thead > tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fw-document-table tbody > tr > th,
.fw-document-table tbody > tr > td {
    padding-top: 6px;
    padding-bottom: 6px;
}

.fw-document-table thead > tr > td:first-child,
.fw-document-table tbody > tr > td:first-child {
    padding-left: 5px;
}

.fw-document-table thead > tr > th:last-child,
.fw-document-table thead > tr > td:last-child,
.fw-document-table tbody > tr > td:last-child {
    padding-right: 0;
}

.fw-document-table tbody td.td-icon {
    text-align: center;
}

.fw-document-table-title {
    color: #a7321f;
}

.fw-document-table-title > span {
    margin-left: 10px;
    vertical-align: top;
}

.fw-document-table .icon-trash {
    font-size: 15px;
}

.owned-by-user .icon-access-right,.fw-document-table .fa-clock, .fw-document-table .fa-trash, .fw-document-table .fa-download {
    color: #a7321f;
    cursor: pointer;
}

.owned-by-user .icon-access-right:hover,.fw-document-table .fa-clock:hover, .fw-document-table .fa-trash:hover, .fw-document-table .fa-download:hover {
    color: #2c2723;
}

/* A deleted access rights row */
.collaborator-tr[data-right=delete] {
    display: none;
}

.fw-document-table .fw-avatar {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: top;
    margin-right: 10px;
}

/*
 * Data Tables Plugin
 */
.fw-table-wrapper .dataTables_filter {
    position: fixed;
    left: auto;
    top: 96px;
    margin-left: 495px;
    width: 315px;
    text-align: right;
    z-index: 5;
}

.fw-table-wrapper .dataTables_filter label {
    color: #a9abaa;
}

.fw-table-wrapper .dataTables_filter label.focus {
    color: #000;
}

.fw-table-wrapper .dataTables_filter label:after {
    margin-left: 5px;
    font-size: 16px;
}

.fw-table-wrapper .dataTables_filter input[type="search"] {
    width: 255px;
    height: 20px;
    padding: 0 0 2px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.fw-table-wrapper .dataTables_filter input[type="search"]:focus {
    background-color: transparent;
}


table.dataTable-table input[type=checkbox] {
    margin-right: 20px;
}
/* the usermedia table */
.fw-usermedia-title {
    display: inline-block;
    height: auto;
}
.fw-usermedia-type {
    display: block;
    margin-top: 3px;
}
.fw-usermedia-image {
    display: inline-block;
    max-width: 60px;
    max-height: 60px;
    overflow: hidden;
    vertical-align: top;
    margin: 2px 14px 2px 0;
}
.fw-usermedia-image > img {
    min-width: 100%;
    min-height: 100%;
}

/* Align text with top of images */
.fw-document-table tbody td {
    vertical-align: top;
}

.fw-document-table tbody td.checkable {
    position: relative;
}
.fw-document-table tbody tr.checked td.checkable:after {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 12px;
    top: 12px;
}

/* Word counter dialog table */
.fw-word-counter-tbody {
    line-height: 38px;
}

table.dataTable-table {
    border-collapse: separate;
}

.dataTable-table th a {
    color: #2c2723;
    font-weight: bold;
}

.dataTable-table th, .dataTable-table td {
    padding: 8px;
}

.dataTable-table .date {
    white-space: nowrap;
}
