.fw-media-uploader .fw-media-title {
    width: 276px;
}

.fw-media-uploader .figure-preview {
    display: table;
    margin: 18px 10px 0 0;
}

.fw-media-uploader .figure-preview > div {
    display: table-cell;
    width: 406px;
    height: 226px;
    border: 2px dashed #8b8b8b;
    text-align: center;
    vertical-align: middle;
}

.fw-media-uploader .figure-preview > div > img {
    max-width: 400px;
    max-height: 220px;
}

.fw-media-uploader .fw-media-category {
    padding-bottom: 30px;
}

.fw-media-uploader .fw-media-category .fw-checkable-label {
    margin: 10px 0 0;
    width: 396px;
}

.fw-media-file-input {
    display: none;
}

th.figure-preview-row, td.figure-preview-row {
    vertical-align: top;
}

.figure-edit-menu {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
    right: -5px;
}

.figure-edit-icon {
    font-size: 18px;
    color: #cecece;
}

.crop-mode {
    height: 500px !important;
    width: 800px !important;
}

.btn-select-crop{
    background-color: #00C957;
    background-repeat: no-repeat;
    border: 1px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
    right: 5.2em;
    top: 35px;
    height: 2.4em;
    width: 5em;
}

.btn-cancel-crop{
    background-color: #EA3740;
    background-repeat: no-repeat;
    border: 1px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
    right: 0px;
    top: 35px;
    height: 2.5em;
    width: 5em;
}

.crop-icon {
    font-size: 1.2em;
    color: white
}

.hide {
    display: none;
}
