@charset "UTF-8";

/*
 * styles for fontello fonts
 */
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fidus_fontello.woff");
  font-weight: normal;
  font-style: normal;
}
.add-remove-list,
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
}

.icon-google:before { content: '\47'; } /* 'G' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-openid:before { content: '\e803'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-soundcloud:before { content: '\e802'; } /* '' */
.icon-stackexchange:before { content: '\e804'; } /* '' */
.icon-persona:before { content: '\e806'; } /* '' */
.icon-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-left-dir:before { content: '\25c2'; } /* '◂' */
.icon-cog:before { content: '\2699'; } /* '⚙' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-pencil:before { content: '\270e'; } /* '✎' */
.icon-ok:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-cancel-circle:before { content: '\2716'; } /* '✖' */
.icon-attention-circle:before { content: '\2757'; } /* '❗' */
.icon-plus-circle:before { content: '\2795'; } /* '➕' */
.icon-minus-circle:before { content: '\2796'; } /* '➖' */
.icon-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-cw:before { content: '\27f3'; } /* '⟳' */
.icon-info-circle:before { content: '\e705'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-print:before { content: '\e716'; } /* '' */
.icon-trash:before { content: '\e729'; } /* '' */
.icon-bold:before { content: '\e77a'; } /* '' */
.icon-italic:before { content: '\e77b'; } /* '' */
.icon-right:before { content: '\2192'; } /* '→' */
.icon-align-left:before { content: '\e77e'; } /* '' */
.icon-align-center:before { content: '\e77f'; } /* '' */
.icon-align-right:before { content: '\e780'; } /* '' */
.icon-align-justify:before { content: '\e781'; } /* '' */
.icon-list:before { content: '\e782'; } /* '' */
.icon-indent-left:before { content: '\e783'; } /* '' */
.icon-indent-right:before { content: '\e784'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-picture:before { content: '\1f304'; } /* '' */
.icon-user:before { content: '\1f464'; } /* '' */
.icon-floppy:before { content: '\1f4be'; } /* '' */
.icon-doc:before { content: '\1f4c4'; } /* '' */
.icon-book:before { content: '\1f4d5'; } /* '' */
.icon-download:before { content: '\1f4e5'; } /* '' */
.icon-link:before { content: '\1f517'; } /* '' */
.icon-math:before { content: '\4d'; } /* '' */
.icon-search:before { content: '\e800'; }
.icon-clock:before { content: '\e807'; } /* '' */
.icon-table:before { content: '\f0ce'; } /* '' */
.icon-h-line:before { content: '\48'; } /* 'H' */

/* Fidus Writer specific */
.icon-footnote:before { content: '\46'; } /* 'F' */
.icon-figure:before { content: '\49'; } /* 'F' */
.icon-acceptall:before { content: '\41'; } /* 'A' */
.icon-rejectall:before { content: '\52'; } /* 'R' */
.es .icon-bold:before { content: '\4b'; } /* 'N' */
.es .icon-italic:before { content: '\4e'; } /* 'K' */


/* User rights */
.icon-access-write:before {content: '\270e'; } /* '✎' */
.icon-access-read:before { content: '\e70a'; } /* '' */
.icon-access-comment:before { content: '\f0e5'; } /* '' */
/* Review related user rights */
.icon-access-read-without-comments:before { content: '\e70a'; } /* '' */
.icon-access-review:before { content: '\f0e5'; } /* '' */

.icon-access-read-without-comments:before, .icon-access-review:before {
    background-color: #000;
    color: #fff;
    padding: 2px;
    border-radius: 4px;
}
/*
 * styles for Lato
 */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/lato/Lato-Light.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato/Lato-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato/Lato-Bold.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url(../fonts/lato/Lato-Black.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/lato/Lato-Italic.woff) format('woff');
}
