input,
textarea,
button {
    font-family: 'Lato', sans-serif;
    margin: 0;
    outline-width: 0;
}

input[type=text],
input[type=password],
input[type=search],
input[type=email] {
    padding: 0 3px;
    height: 36px;
    width: calc(100% - 8px);
}

input[type=text].category-form {
    width: calc(100% - 38px);
}

textarea {
    padding: 2px;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
textarea {
    font-size: 14px;
    line-height: 1.33em;
    border: solid 1px #d3d3d3;
    box-shadow: none;
    border-radius: 0;
    margin: 5px 0 5px 0;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='email']:focus,
textarea:focus {
    background-color: #fbf9d2;
}

.form-label {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 5px;
}

/*
 * Bibliography entry input
 */
#uploadimage input.entryForm,
#uploadimage input.fw-input {
    width: 486px;
}

/*
 * Name input fields
 */
.fw-name-input {
    width: 226px
}

.fw-name-input.fw-first {
    margin-right: 23px;
}

/*
 * checkable label / td
 */
.fw-checkable {
    cursor: pointer;
    background-color: #fff;
}

.fw-checkable.checked {
    background-color: #fbf9d2;
}

tr.fw-checkable.checked:after {
    display: none;
    content: '';
}

.fw-checkable-td, .fw-checkable > td {
    position: relative
}

.fw-checkable-td.checked:after, tr.fw-checkable.checked > td:last-child:after {
    top: 17px
}

.fw-checkable-label {
    position: relative;
    display: block;
    width: 462px;
    height: 36px;
    line-height: 36px;
    border: solid 1px #d3d3d3;
    padding-left: 12px;
    margin-bottom: 10px;
}

.fw-checkable-input {
    display: none;
}

/*
 * addable input fields button
 */
.fw-add-input {
    cursor: pointer;
    margin-left: 14px;
}

.fw-add-input::before {
    width: 0.7em;
}

.fw-list-input {
    margin-top: 7px;
}

.fw-list-input:first-child {
    margin-top: 0;
}

/*
 * form error
 */
.fw-fomt-error {
    color: #f00;
}

/*
 * ajax file uploader
 */
.ajax-upload input[type='file'] {
    display: none;
}

.ajax-upload-label {
    margin-left: 10px;
}

/*
 * checkbox in a fw-button
 */
.fw-button input[type='checkbox'] {
    margin-right: 3px;
}

/*
 * radio buttons
 */
.fw-radio input[type=radio] {
     display: inline-block;
     width: 40px;
     margin-bottom: 20px;
}


.fw-select-container {
    margin-bottom: 18px;
    position: relative;
}

.fw-select-container select {
    display: inline-block;
    width: calc(100% - 22px);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

.fw-select-container select option.placeholder {
    display: none;
}

.fw-select-container .fw-select-arrow {
    position: absolute;
	top: 14px;
	right: 5px;
	pointer-events: none;
}
