.fw-header > .fw-container {
    z-index: 100;
    overflow: visible;
    margin: 19.5px 0 21.5px;
}

.fw-logo, #header-nav {
    display: inline-block;
}

.fw-logo > img {
    width: auto;
    height: 27px;
    margin-left: 10.5px;
}

h1.fw-logo:before {
    content: 'Fidus Writer';
    font-family: 'Cookie', cursive;
    color:  #fff;
    font-size: 23pt;
    line-height: 0;
    position: relative;
    top: -4px;
}

.fw-user-preferences {
    position: absolute;
    right: 40px;
    top: 0;
}

.fw-user-preferences .fw-name {
    display: inline-block;
    margin-right: 10px;
}

#header-nav {
    position: relative;
    top: -8px;
}

.fw-nav-container {
    overflow: visible;
}

.fw-nav-item {
    position: relative;
    display: inline-block;
    width: auto;
    margin-right: 22px;
}
.fw-nav-item.active-menu-wrapper:after {
    position: absolute;
    left: 50%;
    top: 34px;
    line-height: 100%;
    font-size: 24px;
    margin-left: -8px;
    color: #84b4a7;
}

.fw-nav-item a {
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}

.fw-nav-item a:hover, .fw-nav-item.active-menu-wrapper a {
    opacity: 1.0;
}

#user-preferences-pulldown {
    position: fixed;
    right: auto;
}
.fw-logout-button {
    background: none!important;
    border: none;
    padding: 0!important;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
}
.fw-logout-button:hover {
    color: #000;
}
