#wait i {
    display: none;
}

#wait.active {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(240, 240, 240, 0.7);
    z-index: 1500;
}

#wait.active.full {
    background-color: rgba(240, 240, 240, 1);
}

#wait.active i {
    display: block;
    height: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 24px;
    margin-top: -0.5em;
    margin-left: -0.5em;
}
