/*
 * Chrome on Windows does not anti-aliase fonts correctly with the exception of SVG fonts, so this is a second set of rules specifically for that.
 */


@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello/fidus_fontello.svg");
  font-weight: normal;
  font-style: normal;
}    
    
/*
 * styles for Lato
 */

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('../fonts/lato/Lato-Light.svg#LatoLight') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/lato/Lato-Regular.svg#LatoRegular') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/lato/Lato-Bold.svg#LatoBold') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'), url('../fonts/lato/Lato-Black.svg#LatoBlack') format('svg');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url('../fonts/lato/Lato-Italic.svg#LatoItalic') format('svg');
} 

/*
 * Style for missionscript (used only for feedback tab) 
 */

@font-face {
  font-family: 'missionscript';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/missionscript.svg) format('svg');
}



