<!DOCTYPE html>{% load i18n %}{% load compress %}{% load transpile %}
<html class="fw-basic-text">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title> Fidus Writer - {% block title %}{% endblock %}. </title>
        <meta name="description" content="{% trans "The all in one solution for collaborative academic writing." %}">
        <meta name="author" content="Fidus Writer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png"/>

        {% compress css %}
            <link type="text/css" rel="stylesheet" href="{% static "css/reset.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/fonts.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/text.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/forms.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/ui_dialogs.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/buttons.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/pulldown.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/loader.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/alerts.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/document_menu.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/document_table.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/dialog_table.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/dropkick.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/ui_tabs.css" %}" />
            <!-- Font Awesome -->
            <link type="text/css" rel="stylesheet" href="{% static "css/font-awesome.css" %}" />
        {% endcompress %}

        <!-- layout styles -->
        {% compress css %}
        <link type="text/css" rel="stylesheet" href="{% static "css/common.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/header_menu.css" %}" />
        <link rel="stylesheet" href="{% static "css/registration.css" %}" type="text/css" />
        {% endcompress %}
        <!-- Check browser -->
        <script type="text/javascript" src="{% static "js/browser_check.mjs" %}"></script>
        <!-- JS error handling -->
        <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>
        <script type="text/javascript" src="/jsi18n/"></script>
        {% block extraheaders %}{% endblock %}
    </head>
    <body>
        <div id="wait">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <header class="fw-header">
            <div class="fw-container">
                <h1 class="fw-login-logo">
                    <a href="/"><img src="{% static "img/logo.png" %}" alt="Logo" title="Fiduswriter" width="231" height="39" /></a>
                </h1>
                <nav class="fw-header-nav">
                    <label for="login-btn">{% block loginlabel %}{% endblock %}</label>
                    <a class="fw-button fw-orange fw-uppercase" href="{% block loginhref %}{% url 'account_login' %}{% endblock %}">{% block loginbtn %}{% trans "Log In" %}{% endblock %}</a>
                </nav>
            </div>
    <!--Add free star-->
    <div style="width:961px;position:relative;margin:0 auto;"><img src="{% static "img/free_star.png" %}" style="position:absolute;top:0px;left:0px;z-index:3;height:73px;"></div>
        </header>

        <div class="fw-contents">
            {% block body %}
                {% block content %}{% endblock content %}
            {% endblock body %}
            {% block extra_body %}
            {% endblock extra_body %}
        </div>
        {% include "footer.html" %}
        {% include "feedback/feedback.html" %}

    </body>
</html>
