<!DOCTYPE html>{% load i18n %}{% load compress %}{% load transpile %}{% load fiduswriter %}
<html class="fw-basic-text">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title> Fidus Writer - {% block title %}{% endblock %}. </title>
        <meta name="description" content="{% trans "The all in one solution for collaborative academic writing." %}">
        <meta name="author" content="Fidus Writer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/png"/>

        {% compress css %}
            <link type="text/css" rel="stylesheet" href="{% static "css/reset.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/fonts.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/text.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/forms.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/ui_dialogs.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/buttons.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/pulldown.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/loader.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/alerts.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/document_menu.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/document_table.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/dialog_table.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/dropkick.css" %}" />
            <link type="text/css" rel="stylesheet" href="{% static "css/ui_tabs.css" %}" />
            <!-- Font Awesome -->
            <link type="text/css" rel="stylesheet" href="{% static "fontawesome/css/all.css" %}" />
        {% endcompress %}

        <!-- layout styles -->
        {% compress css %}
        <link type="text/css" rel="stylesheet" href="{% static "css/common.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/header_menu.css" %}" />
        <link rel="stylesheet" href="{% static "css/prelogin.css" %}" type="text/css" />
        {% endcompress %}
        <!-- Check browser -->
        <script type="text/javascript" src="{% static "js/browser_check.mjs" %}" crossorigin="anonymous"></script>
        <!-- JS error handling -->
        <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>
        {% fiduswriter_config_js %}
        <script type="text/javascript" src="/jsi18n/"></script>

        {% block extraheaders %}{% endblock %}
    </head>
    <body>
        <div id="wait">
            <i class="fa fa-spinner fa-pulse"></i>
        </div>
        <header class="fw-header prelogin">
            <div class="fw-container">
                <h1 class="fw-login-logo"><span class="fw-logo-text"></span><img src="{% static "svg/icon.svg" %}" /></h1>
                <nav class="fw-header-nav">
                    <label for="login-btn">{% block loginlabel %}{% endblock %}</label>
                    <a class="fw-button fw-orange fw-uppercase" href="{% block loginhref %}{% url 'account_login' %}{% endblock %}">{% block loginbtn %}{% trans "Log In" %}{% endblock %}</a>
                </nav>
            </div>
    <!--Add free star-->
    <div class="star" style="width:961px;position:relative;margin:0 auto;"><img src="{% static "img/free_star.png" %}" style="position:absolute;top:0px;left:0px;z-index:3;height:73px;"></div>
        </header>

        <div class="fw-contents prelogin">
            {% block contents %}{% endblock contents %}
        </div>
        <footer id="footer-menu" class="prelogin">
            <div class="fw-container">
                <ul class="fw-footer-links">
                    <li>
                        <a href="/pages/terms/" target="_blank">
                            {% trans "Terms and Conditions" %}
                        </a>
                    </li>
                    <li>
                        <a href="/pages/privacy/" target="_blank">
                            {% trans "Privacy policy" %}
                        </a>
                    </li>
                    <li>
                        <a href="https://mathlive.io/" target="_blank">
                            {% trans "Equations and Math with MathLive" %}
                        </a>
                    </li>
                    <li>
                        <a href="https://citationstyles.org/" target="_blank">
                            {% trans "Citations with Citation Style Language" %}
                        </a>
                    </li>
                    <li>
                        <a href="https://prosemirror.net" target="_blank">
                            {% trans "Editing with ProseMirror" %}
                        </a>
                    </li>
                </ul>
                <form name="setLangForm" action="/i18n/setlang/" method="post">
                    {% csrf_token %}
                    {% get_current_language as LANGUAGE_CODE %}
                    <input name="next" type="hidden" value="/" />
                    <select id="langSelection" name="language">
                        <option value="bg"{% if 'bg' == LANGUAGE_CODE %}{{ 'selected' }}{% endif %}>Български</option>
                        <option value="de"{% if 'de' == LANGUAGE_CODE %}{{ 'selected' }}{% endif %}>Deutsch</option>
                        <option value="en"{% if 'en' == LANGUAGE_CODE %}{{ 'selected' }}{% endif %}>English</option>
                        <option value="es"{% if 'es' == LANGUAGE_CODE %}{{ 'selected' }}{% endif %}>Español</option>
                        <option value="fr"{% if 'fr' == LANGUAGE_CODE %}{{ 'selected' }}{% endif %}>Français</option>
                        <option value="it"{% if 'it' == LANGUAGE_CODE %}{{ 'selected' }}{% endif %}>Italiano</option>
                        <option value="pt-br"{% if 'pt-br' == LANGUAGE_CODE %}{{ 'selected' }}{% endif %}>Portuguese (Brazil)</option>
                    </select>
                </form>
            </div>
        </footer>
        <script type="text/javascript">
            'use strict';
            document.getElementById('langSelection').addEventListener('change', () => {
                document.setLangForm.submit();
            });
        </script>
        <script type="text/javascript" src="{% static "js/feedback.mjs" %}" crossorigin="anonymous"></script>

    </body>
</html>
