{% extends "account/base.html" %}

{% load i18n %}
{% load compress %}
{% load account %}
{% load transpile %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block extraheaders %}
<script type="text/javascript">
    'use strict';
    window.testServer = "{{TEST_SERVER}}" === "True" ? true : false
    {% if confirmation %}
        window.confirmationData = {
            confirmed: true,
            userName: "{{ confirmation.email_address.user }}",
            email: "{{ confirmation.email_address.email }}",
            submissionUrl: "{% url 'account_confirm_email' confirmation.key %}"
        }
    {% else %}
        window.confirmationData = {
            confirmed: false,
            emailUrl: "{% url 'account_email' %}"
        }
    {% endif %}
</script>
<script type="text/javascript" src="{% static "js/confirm_account.mjs" %}" crossorigin="anonymous"></script>
{% endblock %}
