{% extends "base.html" %}

{% load i18n %}
{% load avatar_tags %}
{% load transpile %}

{% block title %}{% trans 'Team members' %}{% endblock %}
{% block extraheaders %}
<script type="text/javascript" src="{% transpile_static "js/contacts_overview.mjs" %}"></script>
{% endblock %}

{% block contents %}
<ul id="fw-overview-menu"></ul>
<div class="fw-table-wrapper">
    <table id="team-table" class="tablesorter fw-document-table">
        <thead class="fw-document-table-header">
            <tr>
                <td width="30"></td>
                <th width="350">{% trans "Contacts" %}</th>
                <th width="350">{% trans "E-mail address" %}</th>
                <th width="50" align="center">{% trans "Delete" %}</th>
            </tr>
        </thead>
        <tbody class="fw-document-table-body fw-large">
        </tbody>
    </table>
</div>
{% endblock %}
