{% extends "base.html" %}

{% load i18n %}
{% load compress %}
{% load avatar_tags %}

{% block title %}{% trans 'Team members' %}{% endblock %}
{% block extraheaders %}
{% compress js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/contacts-overview.es5.js"></script>
{% endcompress %}
<script type="text/javascript">
    var teammembers = {
    {% for teammember in teammembers %}
        '{{teammember.member.id}}': {
            'id': '{{teammember.member.id}}',
            'name': '{{teammember.member.username}}',
            'email': '{{teammember.member.email}}',
            'avatar': '{% avatar_url teammember.member 80 %}'
        },
    {% endfor %}
    }
</script>
{% endblock %}

{% block contents %}
<ul class="fw-document-menu">
    <li class="fw-document-menu-item">
        <div id="action-selection" class="fw-button fw-light fw-large">
            <input type="checkbox" id="select-all-entry" />
            <span id="select-action-dropdown" class="icon-down-dir"></span>
        </div>
        <div id="action-selection-pulldown" class="fw-pulldown fw-left">
            <ul>
                <li>
                    <span class="fw-pulldown-item">
                        {% trans "Select action" %}
                    </span>
                </li>
                <li>
                    <span class="fw-pulldown-item" data-action="delete">
                        {% trans "Delete selected" %}
                    </span>
                </li>
            </ul>
        </div>
    </li>
    <li class="fw-document-menu-item">
        <span class="add-contact fw-button fw-light fw-large">
            {% trans "Add new contact" %}
            <span class="icon-plus-circle"></span>
        </span>
    </li>
</ul>
<div class="fw-table-wrapper">
    <table id="team-table" class="tablesorter fw-document-table">
        <thead class="fw-document-table-header">
            <tr>
                <td width="30"></td>
                <th width="350">{% trans "Contacts" %}</th>
                <th width="350">{% trans "E-mail address" %}</th>
                <th width="50" align="center">{% trans "Delete" %}</th>
            </tr>
        </thead>
        <tbody class="fw-document-table-body fw-large">
        </tbody>
    </table>
</div>
{% endblock %}
