{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block loginlabel %}{% trans "New here?" %}{% endblock %}
{% block loginhref %}{% url 'account_signup' %}{% endblock %}
{% block loginbtn %}{% trans "Sign up" %}{% endblock %}

{% block contents %}
<div class="fw-login-left">
    <h1 class="fw-login-title">{% trans "Password reset" %}</h1>
    {% blocktrans %}
    <p>Forgotten your password? Enter your e-mail address in the form, and we'll send you an e-mail allowing you to reset it.</p>
    <p>If you have any trouble resetting your password, please <a href="mailto:{{CONTACT_EMAIL}}">contact us</a>.</p>
    {% endblocktrans %}
</div>
<div class="fw-login-right">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% else %}
    <form class="password_reset" action="" method="POST" autocomplete="off">
        {% csrf_token %}
        {{ password_reset_form.non_field_errors }}
        <div class="input-wrapper">
            {{password_reset_form.email.errors}}
            <label for="id_email">{% trans "E-mail address" %}</label>
            {{ password_reset_form.email }}
        </div>
        <div class="submit-wrapper">
            <button class="fw-button fw-dark fw-uppercase" type="submit">{% trans "Reset My Password" %}</button>
        </div>
    </form>
    {% endif %}
</div>
<script>
    const emailInput = document.getElementById('id_email')
    if (emailInput) {
        emailInput.focus()
    }
</script>
{% endblock %}
