{% extends "base.html" %}

{% load i18n %}
{% load compress %}
{% load avatar_tags %}

{% block title %}{{user.readable_name}}{% endblock %}
{% block extraheaders %}
    {% if not can_edit %}
        <script type="text/javascript">
            var roleTagList=['{{ role_tag_list|safeseq|join:"', '"}}'];
        </script>
        {% compress js %}
        <script src="{{ STATIC_URL }}js/libs/tag-it.min.js" type="text/javascript" charset="utf-8"></script>
        {% endcompress %}

        {% compress css %}
        <link href="{{ STATIC_URL }}css/libs/jquery.tagit.css" rel="stylesheet" type="text/css">
        {% endcompress %}
    {% endif %}

    <script src="{{ STATIC_URL }}js/profile.es5.js"></script>

    {% compress css %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-layouts/profile.css" />
    {% endcompress %}
{% endblock %}

{% block contents %}
    {% if can_edit %}
    <div id="profile-wrapper">
        <div id="profile-avatar">
            {% avatar user %}
            <div id="avatar-pulldown-wrapper">
                <span id="edit-avatar-btn" class="icon-pencil">
                    {% trans 'Edit profile picture' %}
                </span>
                <div id="edit-avatar-pulldown" class="fw-pulldown fw-left">
                    <ul>
                        <li>
                            <span class="fw-pulldown-item change-avatar icon-picture">
                                {% trans "Change picture" %}
                            </span>
                        </li>
                        <li>
                            <span class="fw-pulldown-item delete-avatar icon-cancel">
                                {% trans "Delete picture" %}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <table id="profile-data">
            <tbody>
                <tr>
                    <th>{% trans 'Username' %}:</th>
                    <td><input type="text" name="username" id="username" value="{{user.username}}" /></td>
                </tr>
                <tr>
                    <th>{% trans 'First name' %}:</th>
                    <td><input type="text" name="firstname" id="first_name" value="{{user.first_name}}" /></td>
                </tr>
                <tr>
                    <th>{% trans 'Last name' %}:</th>
                    <td><input type="text" name="lastname" id="last_name" value="{{user.last_name}}" /></td>
                </tr>
                <tr>
                    <th>{% trans 'Password' %}:</th>
                    <td>
                        <input type="password" value="******" readonly disabled />
                        <span id="fw-edit-profile-pwd" class="fw-link-text icon-edit"></span>
                    </td>
                </tr>
                <tr>
                    <th class="profile-emial-title">{% trans 'Email' %}:</th>
                    <td>
                        <table class="fw-document-table no-fix-layout">
                            <thead class="fw-document-table-header">
                                <tr>
                                    <th></th>
                                    <th>{% trans 'Primary address' %}</th>
                                    <th>{% trans 'Verified' %}</th>
                                    <th>{% trans 'Delete' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for emailaddress in user.emailaddress_set.all %}
                                <tr{% if emailaddress.primary %} class="primary-email-tr"{% endif %}>
                                    <td class="emailaddress">{{ emailaddress.email }}</td>
                                    <td>
                                        {% if emailaddress.verified %}
                                        <input type="radio" class="primary-email-radio" value="{{ emailaddress.email }}"
                                            name="primaryemail"{% if emailaddress.primary %} checked{% endif %} />
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if emailaddress.verified %}
                                        <i class="icon-ok"></i>
                                        {% else %}
                                        <i class="icon-ok disabled"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <span class="{% if emailaddress.primary %}disabled{% else %}delete-email fw-link-text{% endif %}" data-email="{{ emailaddress.email }}">
                                            <i class="icon-trash"></i>
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <i id="add-profile-email" class="icon-plus-circle"></i>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" id="profile-submit-wrapper" >
                        <span id="submit-profile" class="fw-button fw-dark">
                            {% trans 'submit' %}
                        </span>
                        <span id="delete-account" data-username="{{user.username}}" class="fw-button fw-orange">
                            {% trans 'Delete account' %}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% elif the_user %}
    <div id="profile-wrapper">
        <div id="profile-avatar">{% avatar the_user %}</div>
        <table id="profile-data">
            <tbody>
                <tr>
                    <th>{% trans 'Username' %}:</th>
                    <td>{{the_user.username}}</td>
                </tr>
                <tr>
                    <th>{% trans 'First name' %}:</th>
                    <td>{{the_user.first_name}}</td>
                </tr>
                <tr>
                    <th>{% trans 'Last name' %}:</th>
                    <td>{{the_user.last_name}}</td>
                </tr>
                <tr>
                    <th>{% trans 'Email' %}:</th>
                    <td>
                        {% for emailaddress in the_user.emailaddress_set.all %}
                            {% if emailaddress.primary %}
                            {{ emailaddress.email }}
                            {%endif%}
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% else %}
    <div id="profile-wrapper">
        <h1>{% trans 'User does not exist.' %}</h1>
    </div>
    {% endif %}
{% endblock %}
