{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Sign Up" %}{% endblock %}
{% block loginlabel %}{% trans "Already have an account" %}?{% endblock %}
{% block loginhref %}{{login_url}}{% endblock %}
{% block loginbtn %}{% trans "Log In" %}{% endblock %}

{% block contents %}
<div class="fw-login-left">
    <h1 class="fw-login-title">{% trans "Sign up" %}</h1>
    <p>
        {% blocktrans with site.name as site_name %}
        Already have an account? Then please <a href="{{login_url}}" title="Login to {{site_name}}">login</a>.
        {% endblocktrans %}
    </p>
</div>
<div class="fw-login-right">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% else %}
    <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="input-wrapper">
            {{form.username.errors}}
            <label for="id_username">{% trans "Choose your username" %}</label>
            {{ form.username }}
        </div>
        <div class="input-wrapper">
            {{form.password1.errors}}
            <label for="id_password1">{% trans "Create a password" %}</label>
            {{ form.password1 }}
        </div>
        <div class="input-wrapper">
            {{form.password2.errors}}
            <label for="id_password2">{% trans "Confirm your password" %}</label>
            {{ form.password2 }}
        </div>
        <div class="input-wrapper">
            {{form.email.errors}}
            <label for="id_email">{% trans "E-mail address" %}</label>
            {{ form.email }}
        </div>
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="submit-wrapper">
            <button class="fw-button fw-dark fw-uppercase" type="submit">{% trans "Sign up" %}</button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
