{% load i18n %}
{% load compress %}
{% load url from future %}
<!DOCTYPE html>
<html class="fw-basic-text">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title> Fidus Writer - {% block title %}{% endblock %}. </title>
        <meta name="description" content="{% trans "The all in one solution for collaborative academic writing." %}">
        <meta name="author" content="Takuto Kojima" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png"/>
        <!--link rel="apple-touch-icon" href="/apple-touch-icon.png" /-->

        {% compress css %}
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/fonts.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/forms.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/ui-dialogs.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/buttons.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/pulldown.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/loader.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/alerts.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/document-menu.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/document-table.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/dialog-table.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/dropkick.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/ui-tabs.css" />
        {% endcompress %}

        <!-- layout styles -->
        {% compress css %}
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-layouts/common.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-layouts/header-menu.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/registration.css" type="text/css" />
        {% endcompress %}

        <script type="text/javascript" src="{{ MODERNIZR_URL }}"></script>
        <script type="text/javascript" src="{{ JQUERY_URL }}"></script>

        {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/csfr.js"></script>
        {% endcompress %}
        <script type="text/javascript" src="/jsi18n/"></script>
        <script>
            if(window.chrome && navigator.appVersion.indexOf("Win") !== -1) {
                // We are running Chrome on Windows. We will now load a special style file to make font rendering work.
                    var link  = document.createElement('link');
                    link.rel  = 'stylesheet';
                    link.media = 'all';
                    link.type = 'text/css';
                    link.href = '{{ STATIC_URL }}css/windows-chrome-fonts.css';
                    document.head.appendChild(link);
            }
        </script>
        {% block extraheaders %}{% endblock %}
    </head>
    <body>
        <header class="fw-header">
            <div class="fw-container">
                <h1 class="fw-login-logo">
                    <img src="{{ STATIC_URL }}img/logo.png" alt="Logo" title="Fiduswriter" width="231" height="39" />
                </h1>
                <nav class="fw-header-nav">
                    <label for="login-btn">{% block loginlabel %}{% endblock %}</label>
                    <a class="fw-button fw-orange fw-uppercase" href="{% block loginhref %}{% url 'account_login' %}{% endblock %}">{% block loginbtn %}{% trans "Log In" %}{% endblock %}</a>
                </nav>
            </div>
    <!--Add beta star-->
    <div style="width:961px;position:relative;margin:0 auto;"><img src="{{ STATIC_URL }}img/beta_star.png" style="position:absolute;top:0px;left:0px;z-index:3;width:73px;height:73px;"></div>
        </header>

        <div class="fw-contents">
            {% block body %}
                {% block content %}{% endblock content %}
            {% endblock body %}
            {% block extra_body %}
            {% endblock extra_body %}
        </div>
        {% include "footer.html" %}
        {% include "beta/feedback.html" %}
    </body>
</html>
