{% load i18n %}
<script type="text/javascript">
  $(function() {

    var feedbackTab = {

      speed : 300,

      init : function() {
        $('a.feedback-tab').css('margin-top', $('a.feedback-tab').outerWidth());
        $('a.feedback-tab').click(function(event) {
          if(!$('.feedback-panel').hasClass('open')) {
            $('.feedback-panel').stop().fadeIn(feedbackTab.speed, function() { $('.feedback-panel').addClass('open'); });
          }
          event.preventDefault();
        });
        $('#closeFeedback').click(function() {
          $('.feedback-panel').stop().fadeOut(feedbackTab.speed, function() {
            $('.feedback-panel').removeClass('open');
            $('#feedback-form').css('visibility', 'visible');
            $('#response-message').hide();
          });
        });
      }
    };

    feedbackTab.init();

    $("#feedbackbutton").click(function() {

      var message = $("textarea#message").val();

      var data = {};
      data.message = message;
      
      $('#closeFeedback').hide();
      $('#feedback-form').css('visibility', 'hidden');

      $.ajax({
        type : "POST",
        url : "/feedback/feedback/",
        data : data,
        success : function() {
          $('#closeFeedback').show();
          $('#response-message').show();
        }
      });
      return false;
    });
  });

</script>
<style>
  .feedback-panel {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0,0,0,0.75);
    font-family: scalareg, "courier new", courier;
    display: none;    
  }
  #feedback-wrapper {
    position: absolute;
    top: 200px;
    left: 50%;
    width: auto;
    height: 260px;
    margin-left: -148px;
    padding: 65px 27px 12px;
   background: #ecdc9e;
  }
  a.feedback-tab {
    position: fixed;
    right: 0;
    top: 270px;
    width: auto;
    height: 56px;
    padding: 0 60px 0 50px;
    background: #ecdc9e url({{ STATIC_URL }}img/pencil.png) no-repeat right center;
    border-color: #eac642;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
    text-decoration: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-transform-origin: right top;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    font-family: missionscript;
    font-size: 27px;
    color: #e1b642;
    line-height: 63px;
    z-index:100;
  }
@-moz-document url-prefix() {
/* Firefox only */
    a.feedback-tab {
        right: -65px;
        margin-top: 43px !important;
    }
}

  a.feedback-tab:hover {
    background-color: #e6d180;
  }
  #feedback-wrapper textarea {
    width: 287px;
    height: 190px;
    padding: 3px;
    resize: none;
  }
  #feedbackbutton {
    display: block;
    margin: 17px 0 0 auto;
  }
  #feedback-title {
    position: absolute;
    left: 27px;
    top: 20px;
    font-family: missionscript;
    font-size: 27px;
    color: #eac642;
    padding-right: 60px;
    background: url({{ STATIC_URL }}img/pencil.png) no-repeat right top;
  }
  #response-message {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 16px;
    display: none;
  }
  #closeFeedback {
    display: block;
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
    color: #555;
  }
  #closeFeedback:hover {
    color: #999;
  }
  @media print {
    .feedback-tab, .feedback-panel {
      display: none;
    }
  } 
</style>

<a class="feedback-tab" href="#">{% trans "Feedback" %}</a>
<div class="feedback-panel">
  <div id="feedback-wrapper">
    <div id="feedback-title">{% trans "Feedback" %}</div>
    <div id="feedback-form">
      <form method="post" action="/feedback/feedback/">
        {% csrf_token %}
        <textarea id="message" name="message" rows="10" cols="30"></textarea>
        <input type="button" value='{% trans "submit" %}' id="feedbackbutton" class="btn dark" />
      </form>
    </div>
    <div id="response-message">
      {% trans "Thank you for your comment!" %}
    </div>
    <span id="closeFeedback" class="icon-cancel"></span>
  </div>
</div>
