{% load i18n %}
{% load compress %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png">
        <title> Fidus Writer </title>
        <meta name="description" content="{% trans "The all in one solution for collaborative academic writing." %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">
            var staticUrl = '{{ STATIC_URL }}';
            {% if WS_PORT %}
                var websocketPort = ':' + {{WS_PORT}};
            {% else %}
                var websocketPort = location.port.length ? ':' + location.port : '';
            {% endif %}
            {% if WS_SERVER %}
                var websocketServer = '{{ WS_SERVER }}';
            {% else %}
                var websocketServer = location.host.split(':')[0];
            {% endif %}
        </script>
        <!-- KaTeX -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/libs/katex/katex.min.css" />
        <!-- MathQuill -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/libs/mathquill/mathquill.css" />
        <!--  Translations -->
        <script type="text/javascript" src="/jsi18n/"></script>

        {% compress css %}
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/fonts.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/forms.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/ui-dialogs.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/ui-autofill.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/buttons.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/pulldown.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/loader.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/alerts.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/document-menu.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/document-table.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/dialog-table.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/ui-tabs.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/add-remove-dialog.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/figure.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/dropkick.css" />
            <!-- Font Awesome -->
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css" />
            <!-- layout styles -->
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-layouts/common.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-layouts/header-menu.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-layouts/bibliography.css" />

            <!-- Editor -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/texteditor.css" type="text/css">
            <!-- Collaboration mode -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/carets.css" type="text/css">
            <!-- Comments -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/comments.css" type="text/css">
            <!-- Footnotes -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/footnotes.css" type="text/css">
            <!-- Chat -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/chat.css" type="text/css">
            <!-- Access rights -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/access-rights-dialog.css" type="text/css">
            <!-- Citation dialog style -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/citation-dialog.css" type="text/css">
            <!-- review style -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/review.css" type="text/css">
        {% endcompress %}

        <!-- jQuery -->
        <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
        <!-- JS error handling -->
        <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>
        <!-- jQuery UI -->
        <script type="text/javascript" src="{{ JQUERYUI_URL }}"></script>
        <!-- jQuery tablesorter -->
        <script type="text/javascript" src="{{ DATATABLES_URL }}"></script>
        <!-- ProseMirror CSS -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/prosemirror.css" />
        {% compress js %}
            <!-- Editor  -->
            <script type="text/javascript" src="{{ STATIC_URL }}js/editor.es5.js"></script>
        {% endcompress %}
    </head>
    <body class="{% trans "en" %} tex2jax_ignore">
        <div id="editor">
            <div id="wait" class="active"><i class="fa fa-spinner fa-pulse"></i></div>
            <header>
                <nav id="headerbar">
                    <div></div>
                </nav>
                <nav id="toolbar">
                    <div></div>
                </nav>
            </header>
            <div id="editor-content">
                <div id="flow" class="comments-enabled hide">
                    <div id="paper-editable">
                        <div id="document-editable" class="user-contents"></div>
                        <div id="footnote-box-container">
                            <div id="citation-footnote-box-container"></div>
                        </div>
                    </div>
                    <div class="article-bibliography user-contents"></div>
                </div>
                <div id="comment-box-container"></div>
                <div id="tracking-box-container"></div>
            </div>
            <div id="chat">
                <i class="resize-button fa fa-angle-double-down"></i>
                <div id="chat-container"></div>
                <div id="messageform" contentEditable="true" class="empty"></div>
                <audio id="chat-notification">
                    <source src="{{ STATIC_URL }}ogg/chat-notification.ogg" type="audio/ogg">
                </audio>
            </div>
        </div>
        <div id="print"></div>
        <div id="unobtrusive_messages"></div>
        {% include "feedback/feedback.html" %}
    </body>
</html>
