{% load i18n %}
{% load compress %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png" type="image/png">
        <title> Fidus Writer </title>
        <meta name="description" content="{% trans "The all in one solution for collaborative academic writing." %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript">
            var staticUrl = '{{ STATIC_URL }}';
            {% if WS_PORT %}
                var websocketPort = ':'+{{WS_PORT}};
            {% else %}
                var websocketPort = location.port.length>0?':'+location.port:'';
            {% endif %}
            {% if WS_SERVER %}
                var websocketServer = '{{ WS_SERVER }}';
            {% else %}
                var websocketServer = location.host.split(':')[0];
            {% endif %}
        </script>
        <!-- KaTeX -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/libs/katex/katex.min.css" />
        <!-- MathQuill -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/libs/mathquill/mathquill.css" />
        <!--  Translations -->
        <script type="text/javascript" src="/jsi18n/"></script>
        <!-- document style -->
        <link rel="stylesheet" type="text/css">
        <link id="document-style-link" rel="stylesheet" type="text/css">

        {% compress css %}
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/fonts.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/forms.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/ui-dialogs.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/ui-autofill.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/buttons.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/pulldown.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/loader.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/alerts.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/document-menu.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/document-table.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/dialog-table.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/ui-tabs.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/add-remove-dialog.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/figure.css" />

            <!-- layout styles -->
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-layouts/common.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-layouts/header-menu.css" />
            <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-layouts/bibliography.css" />

            <!-- Editor -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/texteditor.css" type="text/css">
            <!-- Collaboration mode -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/carets.css" type="text/css">
            <!-- Comments -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/comments.css" type="text/css">
            <!-- Footnotes -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/footnotes.css" type="text/css">
            <!-- Chat -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/chat.css" type="text/css">
            <!-- Access rights -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/access-rights-dialog.css" type="text/css">
            <!-- Citation dialog style -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/citation-dialog.css" type="text/css">
            <!-- review style -->
            <link rel="stylesheet" href="{{ STATIC_URL }}css/review.css" type="text/css">

        {% endcompress %}

        <!-- jQuery -->
        <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
        <!-- JS error handling -->
        <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>
        <!-- jQuery UI -->
        <script type="text/javascript" src="{{ JQUERYUI_URL }}"></script>
        <!-- Underscore -->
        <script type="text/javascript" src="{{ UNDERSCOREJS_URL }}"></script>

        <!-- jQuery tablesorter -->
        <script type="text/javascript" src="{{ DATATABLES_URL }}"></script>
        <!-- Dropkick JS -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/libs/dropkick.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/dropkick.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/dropkick.min.js"></script>
        <!-- ProseMirror CSS -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/libs/prosemirror.css" />
        {% compress js %}
            <!-- Editor  -->
            <script type="text/javascript" src="{{ STATIC_URL }}js/editor.es5.js"></script>
        {% endcompress %}
    </head>
    <body class="{% trans "en" %} tex2jax_ignore">
        <div id="editor">
        <div id="wait">
            <i class="icon-spin2 animate-spin"></i>
        </div>
        <header></header>

        <nav id="editor-navigation">
            <span id="open-close-header" class="fw-button fw-light fw-large" title="{% trans "Show/hide the top menu." %}">
                <i class="icon-angle-double-up"></i>
            </span>
            <div id="editor-tools-wrapper">
                <div class="editortoolbar" style="display: block;">
                    <div id="current-position"></div>
                    <div class="toolbarheadings ui-buttonset multiButtons">
                        <span class="multibuttonsCover fw-button fw-light fw-large edit-button" title="{% trans "Text that is part of a standard paragraph." %}" id="block-style-label">{% trans "Normal Text" %}</span>
                        <div class="fw-pulldown fw-left" style="display: none;">
                            <ul>
                                <li class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                    <span class="ui-button-text" title="{% trans "Text that is part of a standard paragraph." %}">
                                        <input type="radio" >
                                        <label class="fw-pulldown-item" id="p_button">{% trans "Normal Text" %}</label>
                                    </span>
                                </li>
                                <li class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                    <span class="ui-button-text" title="{% trans "A headline of the highest level (under title)." %}">
                                        <input type="radio">
                                        <label class="fw-pulldown-item" id="h1_button">{% trans "1st Headline" %}</label>
                                    </span>
                                </li>
                                <li class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                    <span class="ui-button-text" title="{% trans "A headline of the 2nd highest level." %}">
                                        <input type="radio">
                                        <label class="fw-pulldown-item" id="h2_button">{% trans "2nd Headline" %}</label>
                                    </span>
                                </li>
                                <li class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                    <span class="ui-button-text" title="{% trans "A headline of the 3rd highest level." %}">
                                        <input type="radio">
                                        <label id="h3_button" class="fw-pulldown-item">{% trans "3rd Headline" %}</label>
                                    </span>
                                </li>
                                <li class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                    <span class="ui-button-text" title="{% trans "A headline of the 4th highest level." %}">
                                        <input type="radio">
                                        <label id="h4_button" class="fw-pulldown-item">{% trans "4th Headline" %}</label>
                                    </span>
                                </li>
                                <li class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                    <span class="ui-button-text" title="{% trans "A headline of the 5th highest level." %}">
                                        <input type="radio">
                                        <label id="h5_button" class="fw-pulldown-item">{% trans "5th Headline" %}</label>
                                    </span>
                                </li>
                                <li class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                    <span class="ui-button-text" title="{% trans "A headline of the 6th highest level." %}">
                                        <input type="radio">
                                        <label id="h6_button" class="fw-pulldown-item">{% trans "6th Headline" %}</label>
                                    </span>
                                </li>
                                <li class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button" aria-disabled="false">
                                    <span class="ui-button-text" title="{% trans "Computer Code." %}">
                                        <input type="radio">
                                        <label id="code_button" class="fw-pulldown-item">{% trans "Code" %}</label>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="toolbarbold ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-bold" title="{% trans "Bold" %}">
                            <span class="ui-button-text">
                                <i class="icon-bold"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbaritalic ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-italic" title="{% trans "Italic" %}">
                            <span class="ui-button-text">
                                <i class="icon-italic"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarol ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-ol" title="{% trans "Numbered list" %}">
                            <span class="ui-button-text">
                                <i class="icon-list-numbered"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarul ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-ul" title="{% trans "Bulleted list" %}">
                            <span class="ui-button-text">
                                <i class="icon-list-bullet"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarblockquote ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-blockquote" title="{% trans "Blockquote" %}">
                            <span class="ui-button-text">
                                <i class="icon-quote-right"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarlink ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-link" title="{% trans "Link" %}">
                            <span class="ui-button-text">
                                <i class="icon-link"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarfootnote ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-footnote" title="{% trans "Footnote" %}">
                            <span class="ui-button-text">
                                <i class="icon-footnote"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarcite ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-cite" title="{% trans "Cite" %}">
                            <span class="ui-button-text">
                                <i class="icon-book"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarh-line ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-h-line" title="{% trans "Horizontal Line" %}">
                            <span class="ui-button-text">
                                <i class="icon-h-line"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarmath ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-math" title="{% trans "Math" %}">
                            <span class="ui-button-text">
                                <i class="icon-math"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarfigure ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square edit-button" id="button-figure" title="{% trans "Figure" %}">
                            <span class="ui-button-text">
                                <i class="icon-figure"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbartable ui-buttonset">
                        <div id="button-table" class="toolbartable ui-buttonset">
                            <span class="multibuttonsCover fw-button fw-light fw-large fw-square edit-button" title="{% trans "table" %}" id="block-style-label">
                                <span class="ui-button-text">
                                    <i class="icon-table"></i>
                                </span>
                            </span>
                            <div class="fw-pulldown fw-left" style="display: none;">
                                <ul id="table-dialog">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="toolbarundoredo ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square disabled"  id="button-undo" title="{% trans "Undo" %}">
                            <span class="ui-button-text">
                                <i class="icon-ccw"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarundoredo ui-buttonset">
                        <button class="fw-button fw-light fw-large fw-square disabled"  id="button-redo" title="{% trans "Redo" %}">
                            <span class="ui-button-text">
                                <i class="icon-cw"></i>
                            </span>
                        </button>
                    </div>
                    <div class="toolbarcomment ui-buttonset comment-only">
                        <button class="fw-button fw-light fw-large fw-square"  id="button-comment" title="{% trans "Comment" %}">
                            <span class="ui-button-text">
                                <i class="icon-comment-empty"></i>
                            </span>
                        </button>
                    </div>
                    <div id="comments-display" class="fw-button fw-light fw-large comment-only" title="{% trans "Show/hide comments" %}">
                        {% trans "Comments" %}
                    </div>
                </div>
            </div>
        </nav>
        <div id="editor-content">
            <div id="flow" class="comments-enabled CT-hide">
                <div id="paper-editable">
                    <div id="document-editable" class="user-contents"></div>
                    <div id="footnote-box-container">
                        <div id="citation-footnote-box-container"></div>
                    </div>
                </div>
                <div class="article-bibliography user-contents"></div>
            </div>

            <div id="comment-box-container"></div>
            <div id="tracking-box-container"></div>
        </div>
        <div id="chat">
            <i class="resize-button icon-angle-double-down"></i>
            <div id="chat-container"></div>
            <div id="messageform" contentEditable="true" class="empty"></div>
            <audio id="chat-notification">
                <source src="{{ STATIC_URL }}ogg/chat-notification.ogg" type="audio/ogg">
            </audio>
        </div>
        </div>
        <div id="print"></div>
        <div id="unobtrusive_messages"></div>
        {% include "feedback/feedback.html" %}
    </body>
</html>
