{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load avatar_tags %}

{% block title %}{% trans "Document Overview" %}{% endblock %}
{% block extraheaders %}
    {% compress css %}
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/add-remove-dialog.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/access-rights-dialog.css" />
    {% endcompress %}

    <!-- citeproc -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/citeproc/xmldom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/citeproc/citeproc.js"></script>
    {% compress js %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/document-overview.es5.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.dataTables.min.js"></script>

        <!-- Zip.js -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/zip/zip.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/zip/deflate.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/zip/inflate.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/zip/zip-fs.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/libs/zip/zip-ext.js"></script>
        <script type="text/javascript">
            zip.useWebWorkers = false;
        </script>

        <!-- Citation definitions -->
        <script type="text/javascript" src="{{ STATIC_URL }}js/citation/definitions.js"></script>
        <!-- File export functions -->
        <script type="text/javascript">
            var staticUrl = '{{ STATIC_URL }}';
        </script>

    {% endcompress %}
{% endblock %}

{% block contents %}
<ul class="fw-document-menu">
    <li class="fw-document-menu-item">
        <div id="action-selection" class="fw-button fw-light fw-large">
            <input type="checkbox" id="select-all-entry" />
            <span id="select-action-dropdown-documents" class="icon-down-dir"></span>
        </div>
        <div id="action-selection-pulldown-documents" class="fw-pulldown fw-left">
            <ul>
                <li>
                    <span class="fw-pulldown-item" data-action="delete">
                        {% trans "Delete selected" %}
                    </span>
                </li>
                <li>
                    <span class="fw-pulldown-item" data-action="share">
                        {% trans "Share selected" %}
                    </span>
                </li>
                <li>
                    <span class="fw-pulldown-item" data-action="copy">
                        {% trans "Copy selected" %}
                    </span>
                </li>
                <li>
                    <span class="fw-pulldown-item" data-action="epub">
                        {% trans "Export selected as Epub" %}
                    </span>
                </li>
                <li>
                    <span class="fw-pulldown-item" data-action="html">
                        {% trans "Export selected as HTML" %}
                    </span>
                </li>
                <li>
                    <span class="fw-pulldown-item" data-action="latex">
                        {% trans "Export selected as LaTeX" %}
                    </span>
                </li>
                <li>
                    <span class="fw-pulldown-item" data-action="native">
                        {% trans "Download selected as Fidus Document" %}
                    </span>
                </li>
            </ul>
        </div>
    </li>
    <li class="fw-document-menu-item">
        <a href="/document/new/" class="createNew fw-button fw-light fw-large">
            {% trans "Create New Document" %}
            <span class="icon-plus-circle"></span>
        </a>
    </li>
    <li class="fw-document-menu-item">
        <button class="import-fidus fw-button fw-light fw-large">
            {% trans "Upload Fidus Document" %}
            <span class="icon-download"></span>
        </button>
    </li>
</ul>
<div class="fw-table-wrapper">
    <table id="document-table" class="tablesorter fw-document-table">
        <thead class="fw-document-table-header">
            <tr>
                <td width="20"></td>
                <th width="220">{% trans "Title" %}</th>
                <th width="80">{% trans "Revisions" %}</th>
                <th width="80">{% trans "Created" %}</th>
                <th width="80">{% trans "Last changed" %}</th>
                <th width="170">{% trans "Owner" %}</th>
                <td width="50" align="center">{% trans "Rights" %}</td>
                <td width="50" align="center">{% trans "Delete" %}</td>
            </tr>
        </thead>
        <tbody class="fw-document-table-body fw-large"></tbody>
    </table>
</div>
{% endblock %}
