{% extends "base.html" %}
{% load i18n %}
{% load compress %}
{% load transpile %}
{% load avatar_tags %}

{% block title %}{% trans "Document Overview" %}{% endblock %}
{% block extraheaders %}
    {% compress css %}
        <link type="text/css" rel="stylesheet" href="{% static "css/fw_modules/add_remove_dialog.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "css/access_rights_dialog.css" %}" />
    {% endcompress %}

    <script type="text/javascript" src="{% static "js/document_overview.mjs" %}"></script>
{% endblock %}

{% block contents %}
    <ul id="fw-overview-menu"></ul>
{% endblock %}
