{% load i18n %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fonts.css" />
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/fw-modules/alerts.css" />
        <!--  Translations -->
        <script type="text/javascript" src="/jsi18n/"></script>
        <!-- jQuery -->
        <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/update.es5.js"></script>
    </head>
    <body>
    </body>
</html>
