{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
<title></title>
        <!-- KaTeX -->
        <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}css/libs/katex/katex.min.css" />
        <!-- document style -->
        <link id="document-style-link" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="/jsi18n/"></script>
        <!-- jQuery -->
        <script type="text/javascript" src="{{ JQUERY_URL }}"></script>
        <!-- JS error handling -->
        <script type="text/javascript" src="{% url 'js-error-handler-js' %}"></script>
        <!-- Underscore -->
        <script type="text/javascript" src="{{ UNDERSCOREJS_URL }}"></script>
    {% compress js %}
            <script type="text/javascript">
                var staticUrl = '{{ STATIC_URL }}';
            </script>
    {% endcompress %}

    <!-- Moving of footnotes-->
    <script type="text/javascript"  src="{{ STATIC_URL }}js/print-book.es5.js"></script>

</head>
<body class="tex2jax_ignore">
    <div id="flow">
        <div id="book">
        </div>
        <div class="chapter">
            <div id="bibliography" class="user-contents"></div>
        </div>
    </div>
</body>
</html>
