@font-face {
  font-family: 'FjordOne';
  font-style: normal;
  font-weight: normal;
  src: local('FjordOne'), local('FjordOne'), url(../../fonts/document/FjordOne-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: normal;
  src: local('Lato'), local('Lato'), url(../../fonts/lato/Lato-Regular.woff) format('woff');
}

.funky .user-contents {
    font-family: 'FjordOne', serif;
}

.funky .user-contents h1,.funky  .user-contents h2,.funky  .user-contents h3,.funky  #document-title {
    font-family: 'Lato';
    margin: 50px 0;
    line-height: 140%;
}

.funky #document-title {
    text-align: center;
    font-size: 40px;
}

.funky .user-contents h1  {
    font-size: 32px;
}

.funky .user-contents h2 {
    font-size: 24px;
}

.funky .user-contents h3 {
    text-transform: uppercase;
    font-size: 15px;
    line-height: 25px;
  }

.funky .user-contents p {
    line-height: 150%;
}
