@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: 400;
  src: local('Goudy Bookletter 1911'), local('GoudyBookletter1911'), url('../../fonts/document/goudy.woff') format('woff');
}
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  src: local('Vollkorn Bold'), local('Vollkorn-Bold'), url('../../fonts/document/vollkorn.woff') format('woff');
}

.modern .user-contents {
    font-family: 'Goudy Bookletter 1911', serif;
}

.modern .user-contents h1, .modern .user-contents h2, .modern .user-contents h3, .modern #document-title {
    font-family: 'Vollkorn', serif;
    margin-top: 50px;
    line-height: 130%;
}

.modern #document-title {
    font-size: 40px;
}

.modern .user-contents h1  {
    font-size: 32px;
}

.modern .user-contents h2 {
    font-size: 24px;
}

.modern .user-contents h3 {
    font-size: 20px;
}

.modern .user-contents p {
    text-align: justify;
    line-height: 150%;
}