#bib-dialog {
    margin-top: 18px;
}

#bib-dialog .select-container {
    margin-bottom: 18px;
    margin-right: 71px;
    position: relative;
}

#bib-dialog .select-container select {
    display: inline-block;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

#bib-dialog .select-container select option.placeholder {
    display: none;
}

#bib-dialog .select-container .select-arrow {
    position: absolute;
	top: 14px;
	right: -10px;
	pointer-events: none;
}

#bib-dialog .ui-tabs-panel {
    height: 439px;
}

#bib-dialog .fw-dialog-table th {
    vertical-align: top;
    padding: 0 6px 0 8px;
    width: 164px;
}

#bib-dialog .entry-field .ProseMirror, #bib-dialog .entry-field input[type=text] {
    width: 686px;
}

#bib-dialog .entry-field input[type=text] {
    width: 678px;
}

#bib-dialog .entry-field .selection-list {
    position: relative
}

#bib-dialog .entry-field select {
    padding: 0px 3px 0px 13px;
    border-color: #c9c9c9;
    background-color: #f9f9f9;
    height: 38px;
    width: 561px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    display: inline-block;
}

#bib-dialog .entry-field .select-arrow {
    position: absolute;
	top: 14px;
	right: 28px;
	pointer-events: none;
}

#bib-dialog .input-with-button {
    width: 705px;
}

#bib-dialog .input-with-button button {
    width: 81px;
    float: left;
    margin-right: 18px;
}

#bib-dialog .input-with-button .field-part {
    display: inline-block;
    margin-right: 18px;
}

#bib-dialog .input-with-button .field-part-huge .ProseMirror {
    width: 250px;
}

#bib-dialog .input-with-button .field-part-long .ProseMirror {
    width: 130px;
}

#bib-dialog .input-with-button .field-part-short .ProseMirror {
    width: 58px;
}

#bib-dialog .input-with-button .field-part-single .ProseMirror {
    width: 561px;
}

#bib-dialog div.literal::before {
    content: attr(data-placeholder);
    color: #cecece;
}

#bib-dialog .ProseMirror-focused div.literal,
#bib-dialog .ProseMirror-focused pre.long-literal,
#bib-dialog .tokenfield.focused,
#bib-dialog .tokenfield.focused .tokenfield-input {
    background-color: #fbf9d2;
}

#bib-dialog .fw-pulldown.fw-center {
    left: 10px;
    top: 40px;
}

.tokenfield {
    width: 678px;
    position: relative;
}

.tokenfield:before, .tokenfield:after {
    content: " ";
    display: table;
}

.tokenfield:after {
    clear: both;
}

.tokenfield.tokenfield-mode-tokens {
    display: block;
    min-height: 34px;
    padding: 8px 3px 0px 3px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.tokenfield .tokenfield-set > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.tokenfield .tokenfield-set > ul > li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 5px;
    border-radius: 4px;
    line-height: 1.5;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.4);
    background: rgba(0, 0, 0, 0.08);
}

.tokenfield .tokenfield-set > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.tokenfield .tokenfield-set > ul > li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0 5px;
    border-radius: 3px;
    line-height: 1.5;
    cursor: pointer;
    color: #fff;
    background: #76a698;
    border: 1px solid #7d948e;
}

.tokenfield .tokenfield-input {
    margin-bottom: 5px;
    border: none;
    outline: none;
    float: left;
}

div.literal, pre.long-literal {
    font-size: 14px;
    line-height: 1.33em;
    border: solid 1px #d3d3d3;
    box-shadow: none;
    border-radius: 0;
    padding: 8px 3px 0px 3px;
    height: 28px;
    background-color: #fff;
}

pre.long-literal {
    min-height: 112px;
    height: auto;
}

div.literal strong, pre.long-literal strong  {
    font-weight: bold;
}

div.literal em, pre.long-literal em {
    font-style: italic;
}

.list-input-wrapper .add-remove-list {
    display: inline-block;
    cursor: pointer;
    margin-left: 14px;
}

.list-input-wrapper .add-remove-list:before {
    content: '\2796';
    width: 0.7em;
}

.list-input-wrapper:last-child .add-remove-list:before {
    content: '\2795';
}

#bib-dialog .date-form input {
    width: 66px;
    margin-right: 1px;
}

#bib-dialog .date-form .separator {
    display: inline-block;
    width: 15px;
    text-align: center;
}

#bib-dialog td .dk-selected, #bib-dialog td .dk-select-options {
    width: 486px !important;
}

#bib-dialog th .dk-selected, #bib-dialog th .dk-select-options {
    width: 140px !important;
}

.ui-dialog-buttonpane.createbook {
    margin-right: 30px;
}

.checkable-label {
    width: 462px;
    height: 36px;
    border: solid 1px #ccc;
    line-height: 36px;
    background-color: #fff;
    padding: 0 12px;
    font-size: 13px;
    margin-bottom: 10px;
}

#source-type-selection {
    position: relative;
    display: block;
    z-index: 2;
    margin-bottom: 18px;
    margin-right: 49px;
}

#source-type-selection .fw-pulldown > ul {
    max-height: 230px;
    overflow: scroll;
}

#selected-source-type-title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
#source-type-selection .icon-down-dir {
    position: absolute;
    right: 10px;
}

#editCategories {
    width: 369px !important;
}
#editCategories input[type="text"] {
    width: 310px;
}

.fw-bib-select-pulldown {
    position: relative;
    width: 468px;
    height: 36px;
}
.fw-bib-select-pulldown .icon-down-dir {
    position: absolute;
    right: 10px;
    top: auto;
    line-height: 36px;
}
.fw-bib-select-pulldown .fw-pulldown {
    position: absolute;
    top: 36px;
}
.fw-bib-select-pulldown .fw-pulldown > ul {
    max-height: 145px;
    overflow: auto;
    margin-bottom: 5px;
}

.fw-bib-form-pulldown {
    position: relative;
    cursor: pointer;
}

.fw-bib-form-pulldown > label,
.fw-bib-form-pulldown > span {
    display: table-cell;
    height: 34px;
    vertical-align: middle;
}

.fw-bib-form-pulldown > label {
    font-size: 11px;
}

.fw-bib-form-pulldown > label > span {
    white-space: nowrap;
}

.fw-bib-form-pulldown > span {
    line-height: 34px;
}

.fw-bib-form-pulldown > .fw-pulldown {
    top: 24px;
}

.fw-bib-date-table {
    width: 494px;
    table-layout: fixed;
}

.fw-bib-date-table td {
    padding: 0;
}

.fw-date-separator {
    width: 26px;
    text-align: center;
}

/* date-format */
/* Year */
.date-input-tr[data-format="y"] td.month-td,
.date-input-tr[data-format="y"] td.day-td,
.date-input-tr[data-format="y"] td.month-td2,
.date-input-tr[data-format="y"] td.day-td2,
.date-input-tr[data-format="y"] td.year-td2,
.date-input-tr[data-format="y"] .fw-date-separator {
    display: none;
}
.date-input-tr[data-format="y"] td > .select-year {
    width: 486px;
}

/* Month/Year */
.date-input-tr[data-format="my"] td.day-td,
.date-input-tr[data-format="my"] td.month-td2,
.date-input-tr[data-format="my"] td.day-td2,
.date-input-tr[data-format="my"] td.year-td2,
.date-input-tr[data-format="my"] .fw-date-separator {
    display: none;
}
.date-input-tr[data-format="my"] td.year-td {
    padding-left: 13px;
}
.date-input-tr[data-format="my"] td.month-td {
    padding-right: 13px;
}
.date-input-tr[data-format="my"] td > .select-year,
.date-input-tr[data-format="my"] td > .select-month {
    width: 226px;
}

/* Day/Month/Year */
.date-input-tr[data-format="mdy"] td.month-td2,
.date-input-tr[data-format="mdy"] td.day-td2,
.date-input-tr[data-format="mdy"] td.year-td2,
.date-input-tr[data-format="mdy"] .fw-date-separator {
    display: none;
}
.date-input-tr[data-format="mdy"] td.month-td,
.date-input-tr[data-format="mdy"] td.day-td {
    width: 167px;
}
.date-input-tr[data-format="mdy"] td > .select-year,
.date-input-tr[data-format="mdy"] td > .select-date,
.date-input-tr[data-format="mdy"] td > .select-month {
    width: 152px;
}

/* Year - Year */
.date-input-tr[data-format="y/y"] td.month-td,
.date-input-tr[data-format="y/y"] td.day-td,
.date-input-tr[data-format="y/y"] td.month-td2,
.date-input-tr[data-format="y/y"] td.day-td2 {
    display: none;
}
.date-input-tr[data-format="y/y"] td > .select-year,
.date-input-tr[data-format="y/y"] td > .select-year2 {
    width: 226px;
}

/* Month/Year - Month/Year */
.date-input-tr[data-format="my/my"] td.day-td,
.date-input-tr[data-format="my/my"] td.day-td2 {
    display: none;
}
.date-input-tr[data-format="my/my"] td.year-td2,
.date-input-tr[data-format="my/my"] td.year-td {
    padding-left: 3px;
}
.date-input-tr[data-format="my/my"] td.month-td2,
.date-input-tr[data-format="my/my"] td.month-td {
    padding-right: 3px;
}
.date-input-tr[data-format="my/my"] td > .select-year,
.date-input-tr[data-format="my/my"] td > .select-month,
.date-input-tr[data-format="my/my"] td > .select-year2,
.date-input-tr[data-format="my/my"] td > .select-month2 {
    width: 106px;
}

/* Day/Month/Year - Day/Month/Year */
.date-input-tr[data-format="mdy/mdy"] td.month-td,
.date-input-tr[data-format="mdy/mdy"] td.day-td,
.date-input-tr[data-format="mdy/mdy"] td.month-td2,
.date-input-tr[data-format="mdy/mdy"] td.day-td2 {
    width: 79px;
}
.date-input-tr[data-format="mdy/mdy"] td > input {
    width: 68px;
}
