#bib-dialog {
    margin-top: 18px;
/*    width: 729px !important;
    overflow: visible;*/
}

#bib-dialog .ui-tabs-panel {
    height: 439px;
}

#bib-dialog .ui-dialog-content-table, .name-list-table {
    table-layout: fixed;
}
#bib-dialog .ui-dialog-content-table th, #bib-dialog .ui-dialog-content-table td {
  vertical-align: top;
}
#bib-dialog .ui-dialog-content-table th {
  padding-left: 10px;
  padding-right: 4px;
  width: 170px;
}
#bib-dialog .ui-dialog-content-table td {
    width: 100%;
}
#bib-dialog .ui-dialog-content-table > tbody > tr > th > h4 {
    height: 36px;
    display: table-cell;
    vertical-align: middle;
}
#bib-dialog .list-input-wrapper {
    white-space: nowrap;
}
#bib-dialog .list-input-wrapper > td:first-child {
    width: 91%;
}
#bib-dialog .list-input-wrapper:last-child > td {
    padding-bottom: 0 !important;
}

#bib-dialog .fw-dialog-table th {
    vertical-align: top;
    padding: 0 6px 0 8px;
    width: 170px;
}

#bib-dialog .person, #bib-dialog .organization {
    width: 697px;
}

#bib-dialog .person .name-part, #bib-dialog .organization .name-part {
    display: inline-block;
    margin-right: 18px;
}

#bib-dialog .person .name-part-long .ProseMirror {
    width: 130px;
}

#bib-dialog .person .name-part-short .ProseMirror {
    width: 58px;
}

#bib-dialog div.literal::before {
    content: attr(data-placeholder);
    color: #cecece;
}

#bib-dialog .fw-pulldown.fw-center {
    left: 10px;
    top: 40px;
}

.list-input-wrapper .add-remove-list {
    display: inline-block;
    cursor: pointer;
    margin-left: 14px;
}

.list-input-wrapper .add-remove-list:before {
    content: '\2796';
    width: 0.7em;
}

.list-input-wrapper:last-child .add-remove-list:before {
    content: '\2795';
}

#bib-dialog .date-form input {
    width: 66px;
    margin-right: 1px;
}

#bib-dialog .date-form .separator {
    display: inline-block;
    width: 15px;
    text-align: center;
}

#bib-dialog td .dk-selected, #bib-dialog td .dk-select-options {
    width: 486px !important;
}

#bib-dialog th .dk-selected, #bib-dialog th .dk-select-options {
    width: 140px !important;
}

.ui-dialog-buttonpane.createbook {
    margin-right: 30px;
}

.checkable-label {
    width: 462px;
    height: 36px;
    border: solid 1px #ccc;
    line-height: 36px;
    background-color: #fff;
    padding: 0 12px;
    font-size: 13px;
    margin-bottom: 10px;
}

#source-type-selection {
    position: relative;
    display: block;
    z-index: 2;
    margin-bottom: 18px;
    margin-right: 49px;
}

#source-type-selection .fw-pulldown > ul {
    max-height: 230px;
    overflow: scroll;
}

#selected-source-type-title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
#source-type-selection .icon-down-dir {
    position: absolute;
    right: 10px;
}

#editCategories {
    width: 369px !important;
}
#editCategories input[type="text"] {
    width: 310px;
}

.fw-bib-select-pulldown {
    position: relative;
    width: 468px;
    height: 36px;
}
.fw-bib-select-pulldown .icon-down-dir {
    position: absolute;
    right: 10px;
    top: auto;
    line-height: 36px;
}
.fw-bib-select-pulldown .fw-pulldown {
    position: absolute;
    top: 36px;
}
.fw-bib-select-pulldown .fw-pulldown > ul {
    max-height: 145px;
    overflow: auto;
    margin-bottom: 5px;
}

.fw-bib-form-pulldown {
    position: relative;
    cursor: pointer;
}

.fw-bib-form-pulldown > label,
.fw-bib-form-pulldown > span {
    display: table-cell;
    height: 34px;
    vertical-align: middle;
}

.fw-bib-form-pulldown > label {
    font-size: 11px;
}

.fw-bib-form-pulldown > label > span {
    white-space: nowrap;
}

.fw-bib-form-pulldown > span {
    line-height: 34px;
}

.fw-bib-form-pulldown > .fw-pulldown {
    top: 24px;
}

.fw-bib-date-table {
    width: 494px;
    table-layout: fixed;
}

.fw-bib-date-table td {
    padding: 0;
}

.fw-date-separator {
    width: 26px;
    text-align: center;
}

/* date-format */
/* Year */
.date-input-tr[data-format="y"] td.month-td,
.date-input-tr[data-format="y"] td.day-td,
.date-input-tr[data-format="y"] td.month-td2,
.date-input-tr[data-format="y"] td.day-td2,
.date-input-tr[data-format="y"] td.year-td2,
.date-input-tr[data-format="y"] .fw-date-separator {
    display: none;
}
.date-input-tr[data-format="y"] td > .select-year {
    width: 486px;
}

/* Month/Year */
.date-input-tr[data-format="my"] td.day-td,
.date-input-tr[data-format="my"] td.month-td2,
.date-input-tr[data-format="my"] td.day-td2,
.date-input-tr[data-format="my"] td.year-td2,
.date-input-tr[data-format="my"] .fw-date-separator {
    display: none;
}
.date-input-tr[data-format="my"] td.year-td {
    padding-left: 13px;
}
.date-input-tr[data-format="my"] td.month-td {
    padding-right: 13px;
}
.date-input-tr[data-format="my"] td > .select-year,
.date-input-tr[data-format="my"] td > .select-month {
    width: 226px;
}

/* Day/Month/Year */
.date-input-tr[data-format="mdy"] td.month-td2,
.date-input-tr[data-format="mdy"] td.day-td2,
.date-input-tr[data-format="mdy"] td.year-td2,
.date-input-tr[data-format="mdy"] .fw-date-separator {
    display: none;
}
.date-input-tr[data-format="mdy"] td.month-td,
.date-input-tr[data-format="mdy"] td.day-td {
    width: 167px;
}
.date-input-tr[data-format="mdy"] td > .select-year,
.date-input-tr[data-format="mdy"] td > .select-date,
.date-input-tr[data-format="mdy"] td > .select-month {
    width: 152px;
}

/* Year - Year */
.date-input-tr[data-format="y/y"] td.month-td,
.date-input-tr[data-format="y/y"] td.day-td,
.date-input-tr[data-format="y/y"] td.month-td2,
.date-input-tr[data-format="y/y"] td.day-td2 {
    display: none;
}
.date-input-tr[data-format="y/y"] td > .select-year,
.date-input-tr[data-format="y/y"] td > .select-year2 {
    width: 226px;
}

/* Month/Year - Month/Year */
.date-input-tr[data-format="my/my"] td.day-td,
.date-input-tr[data-format="my/my"] td.day-td2 {
    display: none;
}
.date-input-tr[data-format="my/my"] td.year-td2,
.date-input-tr[data-format="my/my"] td.year-td {
    padding-left: 3px;
}
.date-input-tr[data-format="my/my"] td.month-td2,
.date-input-tr[data-format="my/my"] td.month-td {
    padding-right: 3px;
}
.date-input-tr[data-format="my/my"] td > .select-year,
.date-input-tr[data-format="my/my"] td > .select-month,
.date-input-tr[data-format="my/my"] td > .select-year2,
.date-input-tr[data-format="my/my"] td > .select-month2 {
    width: 106px;
}

/* Day/Month/Year - Day/Month/Year */
.date-input-tr[data-format="mdy/mdy"] td.month-td,
.date-input-tr[data-format="mdy/mdy"] td.day-td,
.date-input-tr[data-format="mdy/mdy"] td.month-td2,
.date-input-tr[data-format="mdy/mdy"] td.day-td2 {
    width: 79px;
}
.date-input-tr[data-format="mdy/mdy"] td > input {
    width: 68px;
}
