body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.fw-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #84b4a7;
    z-index: 2;
}

.fw-container {
    position: relative;
    width: 985px;
    height: auto;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;
}

.fw-contents {
    position: relative;
    top: 150px;
    width: auto;
    height: auto;
    max-width: 985px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;
}

.fw-contents h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.fw-contents .errorlist {
    border: 2px solid #af3515;
    background-color: #cc3f1a;
    color: #fff;
    margin: 10px 0;
    display: inline-block;
    font-size: 1.4em;
}

.fw-contents label[for="id_password1"], .fw-contents label[for="id_password2"] {
    display: none;
}

.fw-contents input#id_password1, .fw-contents input#id_password2 {
    margin: 10px 0;
}

table {
    width: 100%;
    text-align: left;
}

table .fw-inline {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 5px 0;
}

.fw-avatar  {
    border: solid 1px #c9c9c9;
}

#cookie-notification{
    text-align: left;
    margin-top: 6px;
}

.ProseMirror span.placeholder::before {
    color: #cecece;
    content: attr(data-placeholder);
    cursor: text;
}

.ProseMirror-focused span.placeholder.selected {
    display: none;
}
