body {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.fw-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #84b4a7;
    z-index: 2;
}

.fw-container {
    position: relative;
    width: 815px;
    height: auto;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;
}

.fw-contents {
    position: relative;
    top: 150px;
    width: auto;
    height: auto;
    max-width: 815px;
    margin: 0 auto;
    padding: 0 40px;
    overflow: hidden;
}

table {
    width: 100%;
    text-align: left;
}

table .fw-inline {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 5px 0;
}

.fw-avatar  {
    border: solid 1px #c9c9c9;
}
