{
    "extends": "stylelint-config-standard",
    "plugins": [
        "stylelint-value-no-unknown-custom-properties"
    ],
    "rules": {
        "max-empty-lines": 4,
        "string-quotes": "single",
        "color-hex-length": "long",
        "number-leading-zero": "never",
        "max-nesting-depth": 2,
        "indentation": 4,
        "no-descending-specificity": null,
        "csstools/value-no-unknown-custom-properties": [
            true,
            {
                "importFrom": ["../base/static/css/colors.css"]
            }
        ]
    }
}