bleach==6.3.0
channels==4.3.2
granian[uvloop]>=2.7.0
servestatic>=4.3.0
Django==6.0.5
django-allauth[socialaccount]==65.16.1
django-axes==8.3.1
django-avatar==9.0.0
django-otp==1.7.0
pyotp==2.9.0
qrcode==8.2
django-js-error-hook==1.0
django-npm-mjs==4.0.0
django-loginas==0.3.14
httpx==0.28.1
httpx-ws==0.9.0
Pillow==12.2.0
python-magic==0.4.27
prosemirror==0.6.1
prosemirror-rs==0.3.7
watchdog==6.0.0
autobahn==25.12.2
