bleach==5.0.1
Django==4.1.2
django-allauth==0.51.0
django-avatar==7.0.1
django-js-error-hook==1.0
django-npm-mjs==2.3.0
django-loginas==0.3.10
Pillow==9.3.0
python-dateutil==2.8.2
python-magic==0.4.27
tornado==6.2
prosemirror-py==0.3.1
# settings_JSONPATCH
jsonpatch==1.32
# end settings_JSONPATCH
httpx==0.23.0
