bleach==3.1.1
Django==2.2.10
django-allauth==0.41.0
django-avatar==5.0.0
django-js-error-hook==0.8
django-npm-mjs==2.0.1
jsonpatch==1.25
Pillow==7.0.0
python-dateutil==2.8.1
python-magic==0.4.15
tornado==6.0.3
